In [1]:
import os, re
import pandas as pd
from utils import get_files_absolute_path_from_dir, connect_postgres, sql_to_dataframe

In [2]:
path = os.path.join(os.getcwd(), 'all_queries', 'updated_queries')
files = os.listdir(path)
print(path)
queries = get_files_absolute_path_from_dir(path)

/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries
Total files: 99
First few files...
['/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries/query-08.sql', '/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries/query-79.sql', '/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries/query-06.sql', '/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries/query-81.sql', '/home/alfio/Desktop/DataWarehouse/TPC_DS/tpcds-benchmark/all_queries/updated_queries/query-30.sql']

In [3]:
pattern = r"\bwhere\b\s+.*?(?=\b(?:group\s+by|order\s+by|limit|$)\b)"

sql_query = """
SELECT id, name FROM users
WHERE age > 25 AND country = 'USA' ORDER BY name;
"""

# Case-insensitive match
matches = re.findall(pattern, sql_query, re.IGNORECASE)

# Output the matches
for match in matches:
    print(match)

WHERE age > 25 AND country = 'USA'

In [4]:
split_pattern = r"\s*\b(AND|OR|WHERE)\b\s*"
conditions = re.split(split_pattern, ciao, flags=re.IGNORECASE)
conditions = [cond.strip() for cond in conditions if cond.strip().upper() not in ['WHERE', 'AND', 'OR', '']]
print(conditions)

NameError: name 'ciao' is not defined

In [5]:
pattern = r"\bWHERE\b\s+.*?(?=\b(?:GROUP\s+BY|ORDER\s+BY|LIMIT|INTERSECT|UNION|SELECT|$)\b)"
split_pattern = r"\s*\b(AND|OR|WHERE)\b\s*"

total_conditions = 0
all_conditions = []
total_wheres = 0
total_matches = 0
for query in queries:
    with open(query, "r") as f:
        all_lines = []
        for line in f:
            cleaned_line = line.strip()
            if cleaned_line != '':
                all_lines.append(cleaned_line)
                
        one_line_query = ' '.join(all_lines)
        matches = re.findall(pattern, one_line_query, re.IGNORECASE)
        wheres = re.findall(r"\bWHERE\b", one_line_query, re.IGNORECASE)
        print(len(wheres) != len(matches))
        total_wheres += len(wheres)
        total_matches += len(matches)
        print(f"Query {query[-6:-4]} returned {len(matches)} matches:")
        for match in matches:
            conditions = re.split(split_pattern, match, flags=re.IGNORECASE)
            conditions = [cond.strip() for cond in conditions if cond.strip().upper() not in ['WHERE', 'AND', 'OR', '']]
            conditions = [re.sub("\s{2,}", " ", cond) for cond in conditions]
            all_conditions.extend(conditions)
            print("\n".join(conditions))
            print(len(conditions))
            total_conditions += len(conditions)
            print()
            
            
print(f"Total no of conditions {total_conditions}")
print(f"Total no of wheres {total_wheres}")
print(f"Total no of matches {total_matches}")
        #matches = re.findall(pattern, content, re.IGNORECASE)
        #print(matches)

False
Query 08 returned 3 matches:
substr(ca_zip,1,5) IN ( '19100','41548','51640','49699','88329','55986', '85119','19510','61020','95452','26235', '51102','16733','42819','27823','90192', '31905','28865','62197','23750','81398', '95288','45114','82060','12313','25218', '64386','46400','77230','69271','43672', '36521','34217','13017','27936','42766', '59233','26060','27477','39981','93402', '74270','13932','51731','71642','17710', '85156','21679','70840','67191','39214', '35273','27293','17128','15458','31615', '60706','67657','54092','32775','14683', '32206','62543','43053','11297','58216', '49410','14710','24501','79057','77038', '91286','32334','46298','18326','67213', '65382','40315','56115','80162','55956', '81583','73588','32513','62880','12201', '11592','17014','83832','61796','57872', '78829','69912','48524','22016','26905', '48511','92168','63051','25748','89786', '98827','86404','53029','37524','14039', '50078','34487','70142','18697','40129', '60642','42810','62667','57183','46414', '58463','71211','46364','34851','54884', '25382','25239','74126','21568','84204', '13607','82518','32982','36953','86001', '79278','21745','64444','35199','83181', '73255','86177','98043','90392','13882', '47084','17859','89526','42072','20233', '52745','75000','22044','77013','24182', '52554','56138','43440','86100','48791', '21883','17096','15965','31196','74903', '19810','35763','92020','55176','54433', '68063','71919','44384','16612','32109', '28207','14762','89933','10930','27616', '56809','14244','22733','33177','29784', '74968','37887','11299','34692','85843', '83663','95421','19323','17406','69264', '28341','50150','79121','73974','92917', '21229','32254','97408','46011','37169', '18146','27296','62927','68812','47734', '86572','12620','80252','50173','27261', '29534','23488','42184','23695','45868', '12910','23429','29052','63228','30731', '15747','25827','22332','62349','56661', '44652','51862','57007','22773','40361', '65238','19327','17282','44708','35484', '34064','11148','92729','22995','18833', '77528','48917','17256','93166','68576', '71096','56499','35096','80551','82424', '17700','32748','78969','46820','57725', '46179','54677','98097','62869','83959', '66728','19716','48326','27420','53458', '69056','84216','36688','63957','41469', '66843','18024','81950','21911','58387', '58103','19813','34581','55347','17171', '35914','75043','75088','80541','26802', '28849','22356','57721','77084','46385', '59255','29308','65885','70673','13306', '68788','87335','40987','31654','67560', '92309','78116','65961','45018','16548', '67092','21818','33716','49449','86150', '12156','27574','43201','50977','52839', '33234','86611','71494','17823','57172', '59869','34086','51052','11320','39717', '79604','24672','70555','38378','91135', '15567','21606','74994','77168','38607', '27384','68328','88944','40203','37893', '42726','83549','48739','55652','27543', '23109','98908','28831','45011','47525', '43870','79404','35780','42136','49317', '14574','99586','21107','14302','83882', '81272','92552','14916','87533','86518', '17862','30741','96288','57886','30304', '24201','79457','36728','49833','35182', '20108','39858','10804','47042','20439', '54708','59027','82499','75311','26548', '53406','92060','41152','60446','33129', '43979','16903','60319','35550','33887', '25463','40343','20726','44429')
1

ca_address_sk = c_current_addr_sk
c_preferred_cust_flag='Y'
2

ss_store_sk = s_store_sk
ss_sold_date_sk = d_date_sk
d_qoy = 1
d_year = 2000
(substr(s_zip,1,2) = substr(V1.ca_zip,1,2))
5

False
Query 79 returned 2 matches:
store_sales.ss_sold_date_sk = date_dim.d_date_sk
store_sales.ss_store_sk = store.s_store_sk
store_sales.ss_hdemo_sk = household_demographics.hd_demo_sk
(household_demographics.hd_dep_count = 0
household_demographics.hd_vehicle_count > 4)
date_dim.d_dow = 1
date_dim.d_year in (1999,1999+1,1999+2)
store.s_number_employees between 200
295
9

ss_customer_sk = c_customer_sk
1

False
Query 06 returned 3 matches:
a.ca_address_sk = c.c_current_addr_sk
c.c_customer_sk = s.ss_customer_sk
s.ss_sold_date_sk = d.d_date_sk
s.ss_item_sk = i.i_item_sk
d.d_month_seq = (
5

d_year = 1998
d_moy = 3 )
i.i_current_price > 1.2 * (
3

j.i_category = i.i_category)
1

False
Query 81 returned 3 matches:
cr_returned_date_sk = d_date_sk
d_year =1998
cr_returning_addr_sk = ca_address_sk
3

ctr1.ctr_total_return > (
1

ctr1.ctr_state = ctr2.ctr_state)
ca_address_sk = c_current_addr_sk
ca_state = 'TX'
ctr1.ctr_customer_sk = c_customer_sk
4

False
Query 30 returned 3 matches:
wr_returned_date_sk = d_date_sk
d_year =2000
wr_returning_addr_sk = ca_address_sk
3

ctr1.ctr_total_return > (
1

ctr1.ctr_state = ctr2.ctr_state)
ca_address_sk = c_current_addr_sk
ca_state = 'KS'
ctr1.ctr_customer_sk = c_customer_sk
4

False
Query 83 returned 10 matches:
sr_item_sk = i_item_sk
d_date in (
2

d_week_seq in (
1

d_date in ('2000-04-29','2000-09-09','2000-11-02')))
sr_returned_date_sk = d_date_sk
2

cr_item_sk = i_item_sk
d_date in (
2

d_week_seq in (
1

d_date in ('2000-04-29','2000-09-09','2000-11-02')))
cr_returned_date_sk = d_date_sk
2

wr_item_sk = i_item_sk
d_date in (
2

d_week_seq in (
1

d_date in ('2000-04-29','2000-09-09','2000-11-02')))
wr_returned_date_sk = d_date_sk
2

sr_items.item_id=cr_items.item_id
sr_items.item_id=wr_items.item_id
2

False
Query 46 returned 2 matches:
store_sales.ss_sold_date_sk = date_dim.d_date_sk
store_sales.ss_store_sk = store.s_store_sk
store_sales.ss_hdemo_sk = household_demographics.hd_demo_sk
store_sales.ss_addr_sk = customer_address.ca_address_sk
(household_demographics.hd_dep_count = 3
household_demographics.hd_vehicle_count= 1)
date_dim.d_dow in (6,0)
date_dim.d_year in (1999,1999+1,1999+2)
store.s_city in ('Midway','Fairview','Fairview','Midway','Fairview')
9

ss_customer_sk = c_customer_sk
customer.c_current_addr_sk = current_addr.ca_address_sk
current_addr.ca_city <> bought_city
3

False
Query 90 returned 2 matches:
ws_sold_time_sk = time_dim.t_time_sk
ws_ship_hdemo_sk = household_demographics.hd_demo_sk
ws_web_page_sk = web_page.wp_web_page_sk
time_dim.t_hour between 9
9+1
household_demographics.hd_dep_count = 2
web_page.wp_char_count between 5000
5200) at, (
8

ws_sold_time_sk = time_dim.t_time_sk
ws_ship_hdemo_sk = household_demographics.hd_demo_sk
ws_web_page_sk = web_page.wp_web_page_sk
time_dim.t_hour between 15
15+1
household_demographics.hd_dep_count = 2
web_page.wp_char_count between 5000
5200) pt
8

False
Query 62 returned 1 matches:
d_month_seq between 1217
1217 + 11
ws_ship_date_sk = d_date_sk
ws_warehouse_sk = w_warehouse_sk
ws_ship_mode_sk = sm_ship_mode_sk
ws_web_site_sk = web_site_sk
6

False
Query 16 returned 3 matches:
d_date between '1999-5-01'
(cast('1999-5-01' as date) + interval '60 day')
cs1.cs_ship_date_sk = d_date_sk
cs1.cs_ship_addr_sk = ca_address_sk
ca_state = 'ID'
cs1.cs_call_center_sk = cc_call_center_sk
cc_county in ('Williamson County','Williamson County','Williamson County','Williamson County', 'Williamson County' )
exists (
8

cs1.cs_order_number = cs2.cs_order_number
cs1.cs_warehouse_sk <> cs2.cs_warehouse_sk)
not exists(
3

cs1.cs_order_number = cr1.cr_order_number)
1

False
Query 82 returned 1 matches:
i_current_price between 69
69+30
inv_item_sk = i_item_sk
d_date_sk=inv_date_sk
d_date between cast('1998-06-06' as date)
(cast('1998-06-06' as date) + interval '60 day')
i_manufact_id in (105,513,180,137)
inv_quantity_on_hand between 100
500
ss_item_sk = i_item_sk
10

False
Query 89 returned 2 matches:
ss_item_sk = i_item_sk
ss_sold_date_sk = d_date_sk
ss_store_sk = s_store_sk
d_year in (2001)
((i_category in ('Children','Jewelry','Home')
i_class in ('infants','birdal','flatware') )
(i_category in ('Electronics','Music','Books')
i_class in ('audio','classical','science') ))
8

case when (avg_monthly_sales <> 0) then (abs(sum_sales - avg_monthly_sales) / avg_monthly_sales) else null end > 0.1
1

False
Query 72 returned 1 matches:
d1.d_week_seq = d2.d_week_seq
inv_quantity_on_hand < cs_quantity
d3.d_date > d1.d_date + 5
hd_buy_potential = '501-1000'
d1.d_year = 1999
cd_marital_status = 'S'
6

False
Query 75 returned 4 matches:
i_category='Shoes'
1

i_category='Shoes'
1

i_category='Shoes') sales_detail
1

curr_yr.i_brand_id=prev_yr.i_brand_id
curr_yr.i_class_id=prev_yr.i_class_id
curr_yr.i_category_id=prev_yr.i_category_id
curr_yr.i_manufact_id=prev_yr.i_manufact_id
curr_yr.d_year=2000
prev_yr.d_year=2000-1
CAST(curr_yr.sales_cnt AS DECIMAL(17,2))/CAST(prev_yr.sales_cnt AS DECIMAL(17,2))<0.9
7

False
Query 17 returned 1 matches:
d1.d_quarter_name = '1999Q1'
d1.d_date_sk = ss_sold_date_sk
i_item_sk = ss_item_sk
s_store_sk = ss_store_sk
ss_customer_sk = sr_customer_sk
ss_item_sk = sr_item_sk
ss_ticket_number = sr_ticket_number
sr_returned_date_sk = d2.d_date_sk
d2.d_quarter_name in ('1999Q1','1999Q2','1999Q3')
sr_customer_sk = cs_bill_customer_sk
sr_item_sk = cs_item_sk
cs_sold_date_sk = d3.d_date_sk
d3.d_quarter_name in ('1999Q1','1999Q2','1999Q3')
13

False
Query 77 returned 6 matches:
ss_sold_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
ss_store_sk = s_store_sk
4

sr_returned_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
sr_store_sk = s_store_sk
4

cs_sold_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
3

cr_returned_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
3

ws_sold_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
ws_web_page_sk = wp_web_page_sk
4

wr_returned_date_sk = d_date_sk
d_date between cast('2001-08-11' as date)
(cast('2001-08-11' as date) + interval '30 day')
wr_web_page_sk = wp_web_page_sk
4

False
Query 32 returned 2 matches:
i_manufact_id = 283
i_item_sk = cs_item_sk
d_date between '1999-02-22'
(cast('1999-02-22' as date) + interval '90 day')
d_date_sk = cs_sold_date_sk
cs_ext_discount_amt > (
6

cs_item_sk = i_item_sk
d_date between '1999-02-22'
(cast('1999-02-22' as date) + interval '90 day')
d_date_sk = cs_sold_date_sk )
4

False
Query 11 returned 3 matches:
c_customer_sk = ss_customer_sk
ss_sold_date_sk = d_date_sk
2

c_customer_sk = ws_bill_customer_sk
ws_sold_date_sk = d_date_sk
2

t_s_secyear.customer_id = t_s_firstyear.customer_id
t_s_firstyear.customer_id = t_w_secyear.customer_id
t_s_firstyear.customer_id = t_w_firstyear.customer_id
t_s_firstyear.sale_type = 's'
t_w_firstyear.sale_type = 'w'
t_s_secyear.sale_type = 's'
t_w_secyear.sale_type = 'w'
t_s_firstyear.dyear = 1999
t_s_secyear.dyear = 1999+1
t_w_firstyear.dyear = 1999
t_w_secyear.dyear = 1999+1
t_s_firstyear.year_total > 0
t_w_firstyear.year_total > 0
case when t_w_firstyear.year_total > 0 then t_w_secyear.year_total / t_w_firstyear.year_total else 0.0 end > case when t_s_firstyear.year_total > 0 then t_s_secyear.year_total / t_s_firstyear.year_total else 0.0 end
14

False
Query 19 returned 1 matches:
d_date_sk = ss_sold_date_sk
ss_item_sk = i_item_sk
i_manager_id=8
d_moy=11
d_year=1999
ss_customer_sk = c_customer_sk
c_current_addr_sk = ca_address_sk
substr(ca_zip,1,5) <> substr(s_zip,1,5)
ss_store_sk = s_store_sk
9

False
Query 64 returned 3 matches:
cs_item_sk = cr_item_sk
cs_order_number = cr_order_number
2

ss_store_sk = s_store_sk
ss_sold_date_sk = d1.d_date_sk
ss_customer_sk = c_customer_sk
ss_cdemo_sk= cd1.cd_demo_sk
ss_hdemo_sk = hd1.hd_demo_sk
ss_addr_sk = ad1.ca_address_sk
ss_item_sk = i_item_sk
ss_item_sk = sr_item_sk
ss_ticket_number = sr_ticket_number
ss_item_sk = cs_ui.cs_item_sk
c_current_cdemo_sk = cd2.cd_demo_sk
c_current_hdemo_sk = hd2.hd_demo_sk
c_current_addr_sk = ad2.ca_address_sk
c_first_sales_date_sk = d2.d_date_sk
c_first_shipto_date_sk = d3.d_date_sk
ss_promo_sk = p_promo_sk
hd1.hd_income_band_sk = ib1.ib_income_band_sk
hd2.hd_income_band_sk = ib2.ib_income_band_sk
cd1.cd_marital_status <> cd2.cd_marital_status
i_color in ('light','cyan','burnished','green','almond','smoke')
i_current_price between 22
22 + 10
i_current_price between 22 + 1
22 + 15
24

cs1.item_sk=cs2.item_sk
cs1.syear = 2001
cs2.syear = 2001 + 1
cs2.cnt <= cs1.cnt
cs1.store_name = cs2.store_name
cs1.store_zip = cs2.store_zip
6

False
Query 66 returned 2 matches:
ws_warehouse_sk = w_warehouse_sk
ws_sold_date_sk = d_date_sk
ws_sold_time_sk = t_time_sk
ws_ship_mode_sk = sm_ship_mode_sk
d_year = 2001
t_time between 19072
19072+28800
sm_carrier in ('FEDEX','GERMA')
8

cs_warehouse_sk = w_warehouse_sk
cs_sold_date_sk = d_date_sk
cs_sold_time_sk = t_time_sk
cs_ship_mode_sk = sm_ship_mode_sk
d_year = 2001
t_time between 19072
19072+28800
sm_carrier in ('FEDEX','GERMA')
8

False
Query 61 returned 2 matches:
ss_sold_date_sk = d_date_sk
ss_store_sk = s_store_sk
ss_promo_sk = p_promo_sk
ss_customer_sk= c_customer_sk
ca_address_sk = c_current_addr_sk
ss_item_sk = i_item_sk
ca_gmt_offset = -6
i_category = 'Sports'
(p_channel_dmail = 'Y'
p_channel_email = 'Y'
p_channel_tv = 'Y')
s_gmt_offset = -6
d_year = 2002
d_moy = 11) promotional_sales, (
14

ss_sold_date_sk = d_date_sk
ss_store_sk = s_store_sk
ss_customer_sk= c_customer_sk
ca_address_sk = c_current_addr_sk
ss_item_sk = i_item_sk
ca_gmt_offset = -6
i_category = 'Sports'
s_gmt_offset = -6
d_year = 2002
d_moy = 11) all_sales
10

True
Query 87 returned 2 matches:
store_sales.ss_sold_date_sk = date_dim.d_date_sk
store_sales.ss_customer_sk = customer.c_customer_sk
d_month_seq between 1189
1189+11) except (
4

catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
d_month_seq between 1189
1189+11) except (
4

False
Query 57 returned 3 matches:
cs_item_sk = i_item_sk
cs_sold_date_sk = d_date_sk
cc_call_center_sk= cs_call_center_sk
( d_year = 2000
( d_year = 2000-1
d_moy =12)
( d_year = 2000+1
d_moy =1) )
8

v1.i_category = v1_lag.i_category
v1.i_category = v1_lead.i_category
v1.i_brand = v1_lag.i_brand
v1.i_brand = v1_lead.i_brand
v1. cc_name = v1_lag. cc_name
v1. cc_name = v1_lead. cc_name
v1.rn = v1_lag.rn + 1
v1.rn = v1_lead.rn - 1)
8

d_year = 2000
avg_monthly_sales > 0
case when avg_monthly_sales > 0 then abs(sum_sales - avg_monthly_sales) / avg_monthly_sales else null end > 0.1
3

False
Query 27 returned 1 matches:
ss_sold_date_sk = d_date_sk
ss_item_sk = i_item_sk
ss_store_sk = s_store_sk
ss_cdemo_sk = cd_demo_sk
cd_gender = 'M'
cd_marital_status = 'U'
cd_education_status = 'Secondary'
d_year = 2000
s_state in ('TN','TN', 'TN', 'TN', 'TN', 'TN')
9

False
Query 60 returned 6 matches:
i_item_id in (
1

i_category in ('Shoes'))
ss_item_sk = i_item_sk
ss_sold_date_sk = d_date_sk
d_year = 2001
d_moy = 10
ss_addr_sk = ca_address_sk
ca_gmt_offset = -6
7

i_item_id in (
1

i_category in ('Shoes'))
cs_item_sk = i_item_sk
cs_sold_date_sk = d_date_sk
d_year = 2001
d_moy = 10
cs_bill_addr_sk = ca_address_sk
ca_gmt_offset = -6
7

i_item_id in (
1

i_category in ('Shoes'))
ws_item_sk = i_item_sk
ws_sold_date_sk = d_date_sk
d_year = 2001
d_moy = 10
ws_bill_addr_sk = ca_address_sk
ca_gmt_offset = -6
7

False
Query 53 returned 2 matches:
ss_item_sk = i_item_sk
ss_sold_date_sk = d_date_sk
ss_store_sk = s_store_sk
d_month_seq in (1197,1197+1,1197+2,1197+3,1197+4,1197+5,1197+6,1197+7,1197+8,1197+9,1197+10,1197+11)
((i_category in ('Books','Children','Electronics')
i_class in ('personal','portable','reference','self-help')
i_brand in ('scholaramalgamalg #14','scholaramalgamalg #7', 'exportiunivamalg #9','scholaramalgamalg #9'))
(i_category in ('Women','Music','Men')
i_class in ('accessories','classical','fragrances','pants')
i_brand in ('amalgimporto #1','edu packscholar #1','exportiimporto #1', 'importoamalg #1')))
10

case when avg_quarterly_sales > 0 then abs (sum_sales - avg_quarterly_sales)/ avg_quarterly_sales else null end > 0.1
1

True
Query 88 returned 7 matches:
ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 8
time_dim.t_minute >= 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s1, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 9
time_dim.t_minute < 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s2, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 9
time_dim.t_minute >= 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s3, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 10
time_dim.t_minute < 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s4, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 10
time_dim.t_minute >= 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s5, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 11
time_dim.t_minute < 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s6, (
12

ss_sold_time_sk = time_dim.t_time_sk
ss_hdemo_sk = household_demographics.hd_demo_sk
ss_store_sk = s_store_sk
time_dim.t_hour = 11
time_dim.t_minute >= 30
((household_demographics.hd_dep_count = 2
household_demographics.hd_vehicle_count<=2+2)
(household_demographics.hd_dep_count = 1
household_demographics.hd_vehicle_count<=1+2)
(household_demographics.hd_dep_count = 4
household_demographics.hd_vehicle_count<=4+2))
store.s_store_name = 'ese') s7, (
12

False
Query 25 returned 1 matches:
d1.d_moy = 4
d1.d_year = 2002
d1.d_date_sk = ss_sold_date_sk
i_item_sk = ss_item_sk
s_store_sk = ss_store_sk
ss_customer_sk = sr_customer_sk
ss_item_sk = sr_item_sk
ss_ticket_number = sr_ticket_number
sr_returned_date_sk = d2.d_date_sk
d2.d_moy between 4
10
d2.d_year = 2002
sr_customer_sk = cs_bill_customer_sk
sr_item_sk = cs_item_sk
cs_sold_date_sk = d3.d_date_sk
d3.d_moy between 4
10
d3.d_year = 2002
18

True
Query 13 returned 0 matches:
False
Query 97 returned 2 matches:
ss_sold_date_sk = d_date_sk
d_month_seq between 1211
1211 + 11
3

cs_sold_date_sk = d_date_sk
d_month_seq between 1211
1211 + 11
3

False
Query 67 returned 2 matches:
ss_sold_date_sk=d_date_sk
ss_item_sk=i_item_sk
ss_store_sk = s_store_sk
d_month_seq between 1194
1194+11
5

rk <= 100
1

False
Query 84 returned 1 matches:
ca_city = 'White Oak'
c_current_addr_sk = ca_address_sk
ib_lower_bound >= 45626

In [6]:
all_conditions

["substr(ca_zip,1,5) IN ( '19100','41548','51640','49699','88329','55986', '85119','19510','61020','95452','26235', '51102','16733','42819','27823','90192', '31905','28865','62197','23750','81398', '95288','45114','82060','12313','25218', '64386','46400','77230','69271','43672', '36521','34217','13017','27936','42766', '59233','26060','27477','39981','93402', '74270','13932','51731','71642','17710', '85156','21679','70840','67191','39214', '35273','27293','17128','15458','31615', '60706','67657','54092','32775','14683', '32206','62543','43053','11297','58216', '49410','14710','24501','79057','77038', '91286','32334','46298','18326','67213', '65382','40315','56115','80162','55956', '81583','73588','32513','62880','12201', '11592','17014','83832','61796','57872', '78829','69912','48524','22016','26905', '48511','92168','63051','25748','89786', '98827','86404','53029','37524','14039', '50078','34487','70142','18697','40129', '60642','42810','62667','57183','46414', '58463','71211','46364','34851','54884', '25382','25239','74126','21568','84204', '13607','82518','32982','36953','86001', '79278','21745','64444','35199','83181', '73255','86177','98043','90392','13882', '47084','17859','89526','42072','20233', '52745','75000','22044','77013','24182', '52554','56138','43440','86100','48791', '21883','17096','15965','31196','74903', '19810','35763','92020','55176','54433', '68063','71919','44384','16612','32109', '28207','14762','89933','10930','27616', '56809','14244','22733','33177','29784', '74968','37887','11299','34692','85843', '83663','95421','19323','17406','69264', '28341','50150','79121','73974','92917', '21229','32254','97408','46011','37169', '18146','27296','62927','68812','47734', '86572','12620','80252','50173','27261', '29534','23488','42184','23695','45868', '12910','23429','29052','63228','30731', '15747','25827','22332','62349','56661', '44652','51862','57007','22773','40361', '65238','19327','17282','44708','35484', '34064','11148','92729','22995','18833', '77528','48917','17256','93166','68576', '71096','56499','35096','80551','82424', '17700','32748','78969','46820','57725', '46179','54677','98097','62869','83959', '66728','19716','48326','27420','53458', '69056','84216','36688','63957','41469', '66843','18024','81950','21911','58387', '58103','19813','34581','55347','17171', '35914','75043','75088','80541','26802', '28849','22356','57721','77084','46385', '59255','29308','65885','70673','13306', '68788','87335','40987','31654','67560', '92309','78116','65961','45018','16548', '67092','21818','33716','49449','86150', '12156','27574','43201','50977','52839', '33234','86611','71494','17823','57172', '59869','34086','51052','11320','39717', '79604','24672','70555','38378','91135', '15567','21606','74994','77168','38607', '27384','68328','88944','40203','37893', '42726','83549','48739','55652','27543', '23109','98908','28831','45011','47525', '43870','79404','35780','42136','49317', '14574','99586','21107','14302','83882', '81272','92552','14916','87533','86518', '17862','30741','96288','57886','30304', '24201','79457','36728','49833','35182', '20108','39858','10804','47042','20439', '54708','59027','82499','75311','26548', '53406','92060','41152','60446','33129', '43979','16903','60319','35550','33887', '25463','40343','20726','44429')",
 'ca_address_sk = c_current_addr_sk',
 "c_preferred_cust_flag='Y'",
 'ss_store_sk = s_store_sk',
 'ss_sold_date_sk = d_date_sk',
 'd_qoy = 1',
 'd_year = 2000',
 '(substr(s_zip,1,2) = substr(V1.ca_zip,1,2))',
 'store_sales.ss_sold_date_sk = date_dim.d_date_sk',
 'store_sales.ss_store_sk = store.s_store_sk',
 'store_sales.ss_hdemo_sk = household_demographics.hd_demo_sk',
 '(household_demographics.hd_dep_count = 0',
 'household_demographics.hd_vehicle_count > 4)',
 'date_dim.d_dow = 1',
 'date_dim.d_year in (1999,1999+1,1999+2)',
 'store.s_number_employees between 200',
 '295',
 'ss_customer_sk = c_customer_sk',
 'a.ca_address_sk = c.c_current_addr_sk',
 'c.c_customer_sk = s.ss_customer_sk',
 's.ss_sold_date_sk = d.d_date_sk',
 's.ss_item_sk = i.i_item_sk',
 'd.d_month_seq = (',
 'd_year = 1998',
 'd_moy = 3 )',
 'i.i_current_price > 1.2 * (',
 'j.i_category = i.i_category)',
 'cr_returned_date_sk = d_date_sk',
 'd_year =1998',
 'cr_returning_addr_sk = ca_address_sk',
 'ctr1.ctr_total_return > (',
 'ctr1.ctr_state = ctr2.ctr_state)',
 'ca_address_sk = c_current_addr_sk',
 "ca_state = 'TX'",
 'ctr1.ctr_customer_sk = c_customer_sk',
 'wr_returned_date_sk = d_date_sk',
 'd_year =2000',
 'wr_returning_addr_sk = ca_address_sk',
 'ctr1.ctr_total_return > (',
 'ctr1.ctr_state = ctr2.ctr_state)',
 'ca_address_sk = c_current_addr_sk',
 "ca_state = 'KS'",
 'ctr1.ctr_customer_sk = c_customer_sk',
 'sr_item_sk = i_item_sk',
 'd_date in (',
 'd_week_seq in (',
 "d_date in ('2000-04-29','2000-09-09','2000-11-02')))",
 'sr_returned_date_sk = d_date_sk',
 'cr_item_sk = i_item_sk',
 'd_date in (',
 'd_week_seq in (',
 "d_date in ('2000-04-29','2000-09-09','2000-11-02')))",
 'cr_returned_date_sk = d_date_sk',
 'wr_item_sk = i_item_sk',
 'd_date in (',
 'd_week_seq in (',
 "d_date in ('2000-04-29','2000-09-09','2000-11-02')))",
 'wr_returned_date_sk = d_date_sk',
 'sr_items.item_id=cr_items.item_id',
 'sr_items.item_id=wr_items.item_id',
 'store_sales.ss_sold_date_sk = date_dim.d_date_sk',
 'store_sales.ss_store_sk = store.s_store_sk',
 'store_sales.ss_hdemo_sk = household_demographics.hd_demo_sk',
 'store_sales.ss_addr_sk = customer_address.ca_address_sk',
 '(household_demographics.hd_dep_count = 3',
 'household_demographics.hd_vehicle_count= 1)',
 'date_dim.d_dow in (6,0)',
 'date_dim.d_year in (1999,1999+1,1999+2)',
 "store.s_city in ('Midway','Fairview','Fairview','Midway','Fairview')",
 'ss_customer_sk = c_customer_sk',
 'customer.c_current_addr_sk = current_addr.ca_address_sk',
 'current_addr.ca_city <> bought_city',
 'ws_sold_time_sk = time_dim.t_time_sk',
 'ws_ship_hdemo_sk = household_demographics.hd_demo_sk',
 'ws_web_page_sk = web_page.wp_web_page_sk',
 'time_dim.t_hour between 9',
 '9+1',
 'household_demographics.hd_dep_count = 2',
 'web_page.wp_char_count between 5000',
 '5200) at, (',
 'ws_sold_time_sk = time_dim.t_time_sk',
 'ws_ship_hdemo_sk = household_demographics.hd_demo_sk',
 'ws_web_page_sk = web_page.wp_web_page_sk',
 'time_dim.t_hour between 15',
 '15+1',
 'household_demographics.hd_dep_count = 2',
 'web_page.wp_char_count between 5000',
 '5200) pt',
 'd_month_seq between 1217',
 '1217 + 11',
 'ws_ship_date_sk = d_date_sk',
 'ws_warehouse_sk = w_warehouse_sk',
 'ws_ship_mode_sk = sm_ship_mode_sk',
 'ws_web_site_sk = web_site_sk',
 "d_date between '1999-5-01'",
 "(cast('1999-5-01' as date) + interval '60 day')",
 'cs1.cs_ship_date_sk = d_date_sk',
 'cs1.cs_ship_addr_sk = ca_address_sk',
 "ca_state = 'ID'",
 'cs1.cs_call_center_sk = cc_call_center_sk',
 "cc_county in ('Williamson County','Williamson County','Williamson County','Williamson County', 'Williamson County' )",
 'exists (',
 'cs1.cs_order_number = cs2.cs_order_number',
 'cs1.cs_warehouse_sk <> cs2.cs_warehouse_sk)',
 'not exists(',
 'cs1.cs_order_number = cr1.cr_order_number)',
 'i_current_price between 69',
 '69+30',
 'inv_item_sk = i_item_sk',
 'd_date_sk=inv_date_sk',
 "d_date between cast('1998-06-06' as date)",
 "(cast('1998-06-06' as date) + interval '60 day')",
 'i_manufact_id in (105,513,180,137)',
 'inv_quantity_on_hand between 100',
 '500',
 'ss_item_sk = i_item_sk',
 'ss_item_sk = i_item_sk',
 'ss_sold_date_sk = d_date_sk',
 'ss_store_sk = s_store_sk',
 'd_year in (2001)',
 "((i_category in ('Children','Jewelry','Home')",
 "i_class in ('infants','birdal','flatware') )",
 "(i_category in ('Electronics','Music','Books')",
 "i_class in ('audio','classical','science') ))",
 'case when (avg_monthly_sales <> 0) then (abs(sum_sales - avg_monthly_sales) / avg_monthly_sales) else null end > 0.1',
 'd1.d_week_seq = d2.d_week_seq',
 'inv_quantity_on_hand < cs_quantity',
 'd3.d_date > d1.d_date + 5',
 "hd_buy_potential = '501-1000'",
 'd1.d_year = 1999',
 "cd_marital_status = 'S'",
 "i_category='Shoes'",
 "i_category='Shoes'",
 "i_category='Shoes') sales_detail",
 'curr_yr.i_brand_id=prev_yr.i_brand_id',
 'curr_yr.i_class_id=prev_yr.i_class_id',
 'curr_yr.i_category_id=prev_yr.i_category_id',
 'curr_yr.i_manufact_id=prev_yr.i_manufact_id',
 'curr_yr.d_year=2000',
 'prev_yr.d_year=2000-1',
 'CAST(curr_yr.sales_cnt AS DECIMAL(17,2))/CAST(prev_yr.sales_cnt AS DECIMAL(17,2))<0.9',
 "d1.d_quarter_name = '1999Q1'",
 'd1.d_date_sk = ss_sold_date_sk',
 'i_item_sk = ss_item_sk',
 's_store_sk = ss_store_sk',
 'ss_customer_sk = sr_customer_sk',
 'ss_item_sk = sr_item_sk',
 'ss_ticket_number = sr_ticket_number',
 'sr_returned_date_sk = d2.d_date_sk',
 "d2.d_quarter_name in ('1999Q1','1999Q2','1999Q3')",
 'sr_customer_sk = cs_bill_customer_sk',
 'sr_item_sk = cs_item_sk',
 'cs_sold_date_sk = d3.d_date_sk',
 "d3.d_quarter_name in ('1999Q1','1999Q2','1999Q3')",
 'ss_sold_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'ss_store_sk = s_store_sk',
 'sr_returned_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'sr_store_sk = s_store_sk',
 'cs_sold_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'cr_returned_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'ws_sold_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'ws_web_page_sk = wp_web_page_sk',
 'wr_returned_date_sk = d_date_sk',
 "d_date between cast('2001-08-11' as date)",
 "(cast('2001-08-11' as date) + interval '30 day')",
 'wr_web_page_sk = wp_web_page_sk',
 'i_manufact_id = 283',
 'i_item_sk = cs_item_sk',
 "d_date between '1999-02-22'",
 "(cast('1999-02-22' as date) + interval '90 day')",
 'd_date_sk = cs_sold_date_sk',
 'cs_ext_discount_amt > (',
 'cs_item_sk = i_item_sk',
 "d_date between '1999-02-22'",
 "(cast('1999-02-22' as date) + interval '90 day')",
 'd_date_sk = cs_sold_date_sk )',
 'c_customer_sk = ss_customer_sk',
 'ss_sold_date_sk = d_date_sk',
 'c_customer_sk = ws_bill_customer_sk',
 'ws_sold_date_sk = d_date_sk',
 't_s_secyear.customer_id = t_s_firstyear.customer_id',
 't_s_firstyear.customer_id = t_w_secyear.customer_id',
 't_s_firstyear.customer_id = t_w_firstyear.customer_id',
 "t_s_firstyear.sale_type = 's'",
 "t_w_firstyear.sale_type = 'w'",
 "t_s_secyear.sale_type = 's'",
 "t_w_secyear.sale_type = 'w'",
 't_s_firstyear.dyear = 1999',
 't_s_secyear.dyear = 1999+1',
 't_w_firstyear.dyear = 1999',
 't_w_secyear.dyear = 1999+1',
 't_s_firstyear.year_total > 0',
 't_w_firstyear.year_total > 0',
 'case when t_w_firstyear.year_total > 0 then t_w_secyear.year_total / t_w_firstyear.year_total else 0.0 end > case when t_s_firstyear.year_total > 0 then t_s_secyear.year_total / t_s_firstyear.year_total else 0.0 end',
 'd_date_sk = ss_sold_date_sk',
 'ss_item_sk = i_item_sk',
 'i_manager_id=8',
 'd_moy=11',
 'd_year=1999',
 'ss_customer_sk = c_customer_sk',
 'c_current_addr_sk = ca_address_sk',
 'substr(ca_zip,1,5) <> substr(s_zip,1,5)',
 'ss_store_sk = s_store_sk',
 'cs_item_sk = cr_item_sk',
 'cs_order_number = cr_order_number',
 'ss_store_sk = s_store_sk',
 'ss_sold_date_sk = d1.d_date_sk',
 'ss_customer_sk = c_customer_sk',
 'ss_cdemo_sk= cd1.cd_demo_sk',
 'ss_hdemo_sk = hd1.hd_demo_sk',
 'ss_addr_sk = ad1.ca_address_sk',
 'ss_item_sk = i_item_sk',
 'ss_item_sk = sr_item_sk',
 'ss_ticket_number = sr_ticket_number',
 'ss_item_sk = cs_ui.cs_item_sk',
 'c_current_cdemo_sk = cd2.cd_demo_sk',
 'c_current_hdemo_sk = hd2.hd_demo_sk',
 'c_current_addr_sk = ad2.ca_address_sk',
 'c_first_sales_date_sk = d2.d_date_sk',
 'c_first_shipto_date_sk = d3.d_date_sk',
 'ss_promo_sk = p_promo_sk',
 'hd1.hd_income_band_sk = ib1.ib_income_band_sk',
 'hd2.hd_income_band_sk = ib2.ib_income_band_sk',
 'cd1.cd_marital_status <> cd2.cd_marital_status',
 "i_color in ('light','cyan','burnished','green','almond','smoke')",
 'i_current_price between 22',
 '22 + 10',
 'i_current_price between 22 + 1',
 '22 + 15',
 'cs1.item_sk=cs2.item_sk',
 'cs1.syear = 2001',
 'cs2.syear = 2001 + 1',
 'cs2.cnt <= cs1.cnt',
 'cs1.store_name = cs2.store_name',
 'cs1.store_zip = cs2.store_zip',
 'ws_warehouse_sk = w_warehouse_sk',
 'ws_sold_date_sk = d_date_sk',
 'ws_sold_time_sk = t_time_sk',
 'ws_ship_mode_sk = sm_ship_mode_sk',
 'd_year = 2001',
 't_time between 19072',
 '19072+28800',
 "sm_carrier in ('FEDEX','GERMA')",
 'cs_warehouse_sk = w_warehouse_sk',
 'cs_sold_date_sk = d_date_sk',
 'cs_sold_time_sk = t_time_sk',
 'cs_ship_mode_sk = sm_ship_mode_sk',
 'd_year = 2001',
 't_time between 19072',
 '19072+28800',
 "sm_carrier in ('FEDEX','GERMA')",
 'ss_sold_date_sk = d_date_sk',
 'ss_store_sk = s_store_sk',
 'ss_promo_sk = p_promo_sk',
 'ss_customer_sk= c_customer_sk',
 'ca_address_sk = c_current_addr_sk',
 'ss_item_sk = i_item_sk',
 'ca_gmt_offset = -6',
 "i_category = 'Sports'",
 "(p_channel_dmail = 'Y'",
 "p_channel_email = 'Y'",
 "p_channel_tv = 'Y')",
 's_gmt_offset = -6',
 'd_year = 2002',
 'd_moy = 11) promotional_sales, (',
 'ss_sold_date_sk = d_date_sk',
 'ss_store_sk = s_store_sk',
 'ss_customer_sk= c_customer_sk',
 'ca_address_sk = c_current_addr_sk',
 'ss_item_sk = i_item_sk',
 'ca_gmt_offset = -6',
 "i_category = 'Sports'",
 's_gmt_offset = -6',
 'd_year = 2002',
 'd_moy = 11) all_sales',
 'store_sales.ss_sold_date_sk = date_dim.d_date_sk',
 'store_sales.ss_customer_sk = customer.c_customer_sk',
 'd_month_seq between 1189',
 '1189+11) except (',
 'catalog_sales.cs_sold_date_sk = date_dim.d_date_sk',
 'catalog_sales.cs_bill_customer_sk = customer.c_customer_sk',
 'd_month_seq between 1189',
 '1189+11) except (',
 'cs_item_sk = i_item_sk',
 'cs_sold_date_sk = d_date_sk',
 'cc_call_center_sk= cs_call_center_sk',
 '( d_year = 2000',
 '( d_year = 2000-1',
 'd_moy =12)',
 '( d_year = 2000+1',
 'd_moy =1) )',
 'v1.i_category = v1_lag.i_category',
 'v1.i_category = v1_lead.i_category',
 'v1.i_brand = v1_lag.i_brand',
 'v1.i_brand = v1_lead.i_brand',
 'v1. cc_name = v1_lag. cc_name',
 'v1. cc_name = v1_lead. cc_name',
 'v1.rn = v1_lag.rn + 1',
 'v1.rn = v1_lead.rn - 1)',
 'd_year = 2000',
 'avg_monthly_sales > 0',
 'case when avg_monthly_sales > 0 then abs(sum_sales - avg_monthly_sales) / avg_monthly_sales else null end > 0.1',
 'ss_sold_date_sk = d_date_sk',
 'ss_item_sk = i_item_sk',
 'ss_store_sk = s_store_sk',
 'ss_cdemo_sk = cd_demo_sk',
 "cd_gender = 'M'",
 "cd_marital_status = 'U'",
 "cd_education_status = 'Secondary'",
 'd_year = 2000',
 "s_state in ('TN','TN', 'TN', 'TN', 'TN', 'TN')",
 'i_item_id in (',
 "i_category in ('Shoes'))",
 'ss_item_sk = i_item_sk',
 'ss_sold_date_sk = d_date_sk',
 'd_year = 2001',
 'd_moy = 10',
 'ss_addr_sk = ca_address_sk',
 'ca_gmt_offset = -6',
 'i_item_id in (',
 "i_category in ('Shoes'))",
 'cs_item_sk = i_item_sk',
 'cs_sold_date_sk = d_date_sk',
 'd_year = 2001',
 'd_moy = 10',
 'cs_bill_addr_sk = ca_address_sk',
 'ca_gmt_offset = -6',
 'i_item_id in (',
 "i_category in ('Shoes'))",
 'ws_item_sk = i_item_sk',
 'ws_sold_date_sk = d_date_sk',
 'd_year = 2001',
 'd_moy = 10',
 'ws_bill_addr_sk = ca_address_sk',
 'ca_gmt_offset = -6',
 'ss_item_sk = i_item_sk',
 'ss_sold_date_sk = d_date_sk',
 'ss_store_sk = s_store_sk',
 'd_month_seq in (1197,1197+1,1197+2,1197+3,1197+4,1197+5,1197+6,1197+7,1197+8,1197+9,1197+10,1197+11)',
 "((i_category in ('Books','Children','Electronics')",
 "i_class in ('personal','portable','reference','self-help')",
 "i_brand in ('scholaramalgamalg #14','scholaramalgamalg #7', 'exportiunivamalg #9','scholaramalgamalg #9'))",
 "(i_category in ('Women','Music','Men')",
 "i_class in ('accessories','classical','fragrances','pants')",
 "i_brand in ('amalgimporto #1','edu packscholar #1','exportiimporto #1', 'importoamalg #1')))",
 'case when avg_quarterly_sales > 0 then abs (sum_sales - avg_quarterly_sales)/ avg_quarterly_sales else null end > 0.1',
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 8',
 'time_dim.t_minute >= 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s1, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 9',
 'time_dim.t_minute < 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s2, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 9',
 'time_dim.t_minute >= 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s3, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 10',
 'time_dim.t_minute < 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s4, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 10',
 'time_dim.t_minute >= 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s5, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 11',
 'time_dim.t_minute < 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s6, (",
 'ss_sold_time_sk = time_dim.t_time_sk',
 'ss_hdemo_sk = household_demographics.hd_demo_sk',
 'ss_store_sk = s_store_sk',
 'time_dim.t_hour = 11',
 'time_dim.t_minute >= 30',
 '((household_demographics.hd_dep_count = 2',
 'household_demographics.hd_vehicle_count<=2+2)',
 '(household_demographics.hd_dep_count = 1',
 'household_demographics.hd_vehicle_count<=1+2)',
 '(household_demographics.hd_dep_count = 4',
 'household_demographics.hd_vehicle_count<=4+2))',
 "store.s_store_name = 'ese') s7, (",
 'd1.d_moy = 4',
 'd1.d_year = 2002',
 'd1.d_date_sk = ss_sold_date_sk',
 'i_item_sk = ss_item_sk',
 's_store_sk = ss_store_sk',
 'ss_customer_sk = sr_customer_sk',
 'ss_item_sk = sr_item_sk',
 'ss_ticket_number = sr_ticket_number',
 'sr_returned_date_sk = d2.d_date_sk',
 'd2.d_moy between 4',
 '10',
 'd2.d_year = 2002',
 'sr_customer_sk = cs_bill_customer_sk',
 'sr_item_sk = cs_item_sk',

In [7]:
cur = connect_postgres("tpcds")

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'tpcds', 'host': 'localhost', 'port': '25433', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

You are connected to -  ('PostgreSQL 17.0 (Debian 17.0-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [10]:
df = sql_to_dataframe(cur, "SELECT attname from PG_STATS WHERE schemaname = 'public';", ["column"])

In [16]:
no_operations = {}
for column in list(df['column']):
    no_operations[column] = 0
    
for column in list(df['column']):
    for condition in all_conditions:
        if column in condition:
            no_operations[column]+= 1
            
no_operations

{'ca_address_sk': 41,
 'ca_address_id': 0,
 'ca_street_number': 0,
 't_second': 0,
 't_am_pm': 0,
 'ca_street_name': 0,
 'ca_street_type': 0,
 'ca_suite_number': 0,
 'ca_city': 3,
 'ca_county': 7,
 'ca_state': 12,
 't_shift': 0,
 't_sub_shift': 0,
 'wp_autogen_flag': 0,
 'ca_zip': 7,
 'ca_country': 5,
 'ca_gmt_offset': 12,
 'ca_location_type': 0,
 'cd_demo_sk': 15,
 'cd_gender': 4,
 'cd_marital_status': 13,
 'cd_education_status': 12,
 'cd_purchase_estimate': 0,
 'cd_credit_rating': 0,
 'cd_dep_count': 0,
 'cd_dep_employed_count': 0,
 'cd_dep_college_count': 0,
 't_time_sk': 13,
 't_time_id': 0,
 't_time': 15,
 't_hour': 10,
 't_minute': 8,
 't_meal_time': 2,
 'i_item_sk': 80,
 'i_item_id': 7,
 'i_rec_start_date': 0,
 'i_rec_end_date': 0,
 'i_item_desc': 0,
 'i_current_price': 10,
 'i_wholesale_cost': 0,
 'i_brand_id': 4,
 'wp_customer_sk': 0,
 'i_brand': 12,
 'i_class_id': 4,
 'i_class': 11,
 'i_category_id': 4,
 'i_category': 38,
 'i_manufact_id': 10,
 'c_customer_id': 0,
 'c_current_cdemo_sk': 7,
 'wp_url': 0,
 'i_manufact': 12,
 'i_size': 16,
 'i_formulation': 0,
 'i_color': 22,
 'i_units': 16,
 'i_container': 0,
 'i_manager_id': 5,
 'i_product_name': 0,
 'c_customer_sk': 46,
 'wp_type': 0,
 'c_current_hdemo_sk': 3,
 'c_current_addr_sk': 21,
 'c_first_shipto_date_sk': 1,
 'c_first_sales_date_sk': 1,
 'c_salutation': 0,
 'c_first_name': 0,
 'c_last_name': 0,
 'c_preferred_cust_flag': 1,
 'c_birth_day': 0,
 'c_birth_month': 1,
 'wp_char_count': 2,
 'c_birth_year': 0,
 'c_birth_country': 2,
 'c_login': 0,
 'c_email_address': 0,
 'c_last_review_date': 0,
 'sr_returned_date_sk': 7,
 'sr_return_time_sk': 0,
 'sr_item_sk': 11,
 'sr_customer_sk': 7,
 'sr_cdemo_sk': 1,
 'sr_hdemo_sk': 0,
 'sr_addr_sk': 0,
 'sr_store_sk': 1,
 'sr_reason_sk': 1,
 'sr_ticket_number': 8,
 'sr_return_quantity': 0,
 'sr_return_amt': 1,
 'sr_return_tax': 0,
 'wp_link_count': 0,
 'wp_image_count': 0,
 'sr_return_amt_inc_tax': 0,
 'sr_fee': 0,
 'sr_return_ship_cost': 0,
 'sr_refunded_cash': 0,
 'wp_web_page_id': 0,
 'wp_rec_start_date': 0,
 'wp_rec_end_date': 0,
 'wp_creation_date_sk': 0,
 'wp_max_ad_count': 0,
 'sr_reversed_charge': 0,
 'sr_store_credit': 0,
 'sr_net_loss': 0,
 'hd_demo_sk': 19,
 'hd_income_band_sk': 3,
 'hd_buy_potential': 6,
 'hd_dep_count': 29,
 'hd_vehicle_count': 28,
 'wp_web_page_sk': 5,
 'wp_access_date_sk': 0,
 'p_promo_sk': 7,
 'p_promo_id': 0,
 'p_start_date_sk': 0,
 'p_end_date_sk': 0,
 'p_item_sk': 0,
 'p_cost': 0,
 'p_response_target': 0,
 'p_promo_name': 0,
 'p_channel_dmail': 1,
 'p_channel_email': 3,
 'p_channel_catalog': 0,
 'p_channel_tv': 4,
 'p_channel_radio': 0,
 'p_channel_press': 0,
 'p_channel_event': 2,
 'p_channel_demo': 0,
 'p_channel_details': 0,
 'p_purpose': 0,
 'p_discount_active': 0,
 'cp_catalog_page_sk': 2,
 'cp_catalog_page_id': 0,
 'cp_start_date_sk': 0,
 'cp_end_date_sk': 0,
 'cp_department': 0,
 'cp_catalog_number': 0,
 'cp_catalog_page_number': 0,
 'cp_description': 0,
 'cp_type': 0,
 'wr_returned_date_sk': 3,
 'wr_returned_time_sk': 0,
 'wr_item_sk': 2,
 'wr_refunded_customer_sk': 0,
 'wr_refunded_cdemo_sk': 1,
 'wr_refunded_hdemo_sk': 0,
 'wr_refunded_addr_sk': 1,
 'wr_returning_customer_sk': 0,
 'wr_returning_cdemo_sk': 1,
 'wr_returning_hdemo_sk': 0,
 'wr_returning_addr_sk': 1,
 'wr_web_page_sk': 1,
 'wr_reason_sk': 1,
 'wr_order_number': 4,
 'wr_return_quantity': 0,
 'wr_return_amt': 1,
 'wr_return_tax': 0,
 'wr_return_amt_inc_tax': 0,
 'ws_bill_hdemo_sk': 0,
 'wr_fee': 0,
 'wr_return_ship_cost': 0,
 'wr_refunded_cash': 0,
 'wr_reversed_charge': 0,
 'wr_account_credit': 0,
 'wr_net_loss': 0,
 'ws_sold_date_sk': 31,
 'ws_sold_time_sk': 3,
 'ws_ship_date_sk': 3,
 'ws_item_sk': 18,
 'ws_bill_customer_sk': 8,
 'ws_bill_cdemo_sk': 0,
 'd_date_id': 0,
 'ws_bill_addr_sk': 4,
 'ws_ship_customer_sk': 0,
 'ws_ship_cdemo_sk': 0,
 'ws_ship_hdemo_sk': 3,
 'ws_ship_addr_sk': 2,
 'ws_web_page_sk': 4,
 'ws_web_site_sk': 4,
 'ws_ship_mode_sk': 2,
 'ws_warehouse_sk': 4,
 'ws_promo_sk': 1,
 'ws_order_number': 6,
 'ws_quantity': 1,
 'ws_wholesale_cost': 0,
 'ws_list_price': 0,
 'ws_sales_price': 3,
 'ws_ext_discount_amt': 1,
 'ws_ext_sales_price': 0,
 'ws_ext_wholesale_cost': 0,
 'ws_ext_list_price': 0,
 'ws_ext_tax': 0,
 'ws_coupon_amt': 0,
 'ws_ext_ship_cost': 0,
 'd_date': 199,
 'ws_net_paid': 1,
 'ws_net_paid_inc_tax': 0,
 'ws_net_paid_inc_ship': 0,
 'ws_net_paid_inc_ship_tax': 0,
 'ws_net_profit': 4,
 'd_date_sk': 160,
 'd_month_seq': 24,
 'd_week_seq': 13,
 'd_quarter_seq': 0,
 'd_year': 109,
 'd_dow': 2,
 'd_moy': 53,
 'd_dom': 6,
 'd_qoy': 12,
 'd_fy_year': 0,
 'd_fy_quarter_seq': 0,
 'd_fy_week_seq': 0,
 'd_day_name': 0,
 'd_quarter_name': 3,
 'd_holiday': 0,
 'd_weekend': 0,
 'd_following_holiday': 0,
 'd_first_dom': 0,
 'd_last_dom': 0,
 'd_same_day_ly': 0,
 'd_same_day_lq': 0,
 'd_current_day': 0,
 'd_current_week': 0,
 'd_current_month': 0,
 'd_current_quarter': 0,
 'd_current_year': 0,
 'cr_returned_date_sk': 4,
 'cr_returned_time_sk': 0,
 'cr_item_sk': 2,
 'cr_refunded_customer_sk': 0,
 'cr_refunded_cdemo_sk': 0,
 'cr_refunded_hdemo_sk': 0,
 'cr_refunded_addr_sk': 0,
 'cr_returning_customer_sk': 1,
 'cr_returning_cdemo_sk': 0,
 'cr_returning_hdemo_sk': 0,
 'cr_returning_addr_sk': 1,
 'cr_call_center_sk': 1,
 'cr_catalog_page_sk': 0,
 'cr_ship_mode_sk': 0,
 'cr_warehouse_sk': 0,
 'cr_reason_sk': 0,
 'cr_order_number': 3,
 'cr_return_quantity': 0,
 'cr_return_amount': 1,
 'cr_return_tax': 0,
 'cr_return_amt_inc_tax': 0,
 'cr_fee': 0,
 'cr_return_ship_cost': 0,
 'cr_refunded_cash': 0,
 'cr_reversed_charge': 0,
 'cr_store_credit': 0,
 'cr_net_loss': 0,
 'inv_date_sk': 6,
 'inv_item_sk': 6,
 'inv_warehouse_sk': 3,
 'inv_quantity_on_hand': 3,
 'cs_ship_hdemo_sk': 0,
 'cs_sold_date_sk': 34,
 'cs_sold_time_sk': 1,
 'cs_ship_date_sk': 2,
 'cs_bill_customer_sk': 9,
 'cs_bill_cdemo_sk': 2,
 'cs_bill_hdemo_sk': 0,
 'cs_bill_addr_sk': 3,
 'cs_ship_customer_sk': 3,
 'cs_ship_cdemo_sk': 0,
 'cs_ship_addr_sk': 1,
 'cs_call_center_sk': 3,
 'cs_catalog_page_sk': 1,
 'cs_ship_mode_sk': 2,
 'cs_warehouse_sk': 4,
 'cs_item_sk': 24,
 'cs_promo_sk': 2,
 'cs_order_number': 3,
 'cs_quantity': 2,
 'cs_wholesale_cost': 0,
 'cs_list_price': 0,
 'cs_sales_price': 1,
 'cs_ext_discount_amt': 1,
 'cs_ext_sales_price': 0,
 'cs_ext_wholesale_cost': 0,
 'cs_ext_list_price': 0,
 'cs_ext_tax': 0,
 'cs_coupon_amt': 0,
 'cs_ext_ship_cost': 0,
 'cs_net_paid': 1,
 'cs_net_paid_inc_tax': 0,
 'cs_net_paid_inc_ship': 0,
 'cs_net_paid_inc_ship_tax': 0,
 'cs_net_profit': 1,
 'ss_sold_date_sk': 63,
 'ss_sold_time_sk': 8,
 'ss_item_sk': 47,
 'ss_customer_sk': 30,
 'ss_cdemo_sk': 3,
 'ss_hdemo_sk': 16,
 'ss_addr_sk': 7,
 'ss_store_sk': 44,
 'ss_promo_sk': 4,
 'ss_ticket_number': 7,
 'ss_quantity': 21,
 'ss_wholesale_cost': 6,
 'ss_list_price': 6,
 'ss_sales_price': 0,
 'ss_ext_discount_amt': 0,
 'ss_ext_sales_price': 0,
 'ss_ext_wholesale_cost': 0,
 'ss_ext_list_price': 0,
 'ss_ext_tax': 0,
 'ss_coupon_amt': 6,
 'ss_net_paid': 1,
 'ss_net_paid_inc_tax': 0,
 'ss_net_profit': 1}