In [4]:
import os, re
import pandas as pd
import numpy as np
import sqlglot
import psycopg2
from sqlglot import parse_one, exp
from utils import get_files_absolute_path_from_dir, connect_postgres, sql_to_dataframe

In [5]:
path = os.path.join(os.getcwd(), 'all_queries', 'updated_queries')
files = os.listdir(path)
print(path)
queries = get_files_absolute_path_from_dir(path)

D:\BDMA\Data Warehouses\tpcds-benchmark\all_queries\updated_queries
Total files: 99
First few files...
['D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/updated_queries/query-01.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/updated_queries/query-02.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/updated_queries/query-03.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/updated_queries/query-04.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/updated_queries/query-05.sql']

In [6]:
conditions = []
def extract_conditions(expression):
    if isinstance(expression, sqlglot.exp.And) or isinstance(expression, sqlglot.exp.Or):
        extract_conditions(expression.args['this'])
        extract_conditions(expression.args['expression'])
    elif isinstance(expression, sqlglot.exp.Exists) or isinstance(expression, sqlglot.exp.Subquery):
        return
    elif isinstance(expression, sqlglot.exp.Paren):
            extract_conditions(expression.this)
    else:
        conditions.append(expression.sql())

def remove_subquery(condition):
    idx = condition.find('SELECT')
    if idx != -1:
        return condition[:idx]
    return condition


def remove_case_when(condition):
    if "CASE" in condition:
        return 0
    return 1


for query in queries:
    with open(query, "r") as f:
        all_lines = []
        for line in f:
            cleaned_line = line.strip()
            if cleaned_line != '':
                all_lines.append(cleaned_line)
                
        one_line_query = ' '.join(all_lines)
        parsed = sqlglot.parse_one(one_line_query, dialect="postgres")
        wheres = parsed.find_all(exp.Where)
        for where in wheres:
            extract_conditions(where.this)
    


conditions = list(map(remove_subquery, filter(remove_case_when ,conditions)))
    
print(len(conditions))

1327

In [7]:
cur = connect_postgres("tpcds")

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'tpcds', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

You are connected to -  ('PostgreSQL 16.4, compiled by Visual C++ build 1940, 64-bit',)

In [8]:
df = sql_to_dataframe(cur, "SELECT attname from PG_STATS WHERE schemaname = 'public';", ["column"])

In [9]:
no_operations = {}

for column in list(df['column']):
    no_operations[column] = {'e' : 0, 'c' : 0}
    for condition in conditions:
        if column in condition:
            if re.match(r".*(<|>|\bbetween\b).*", condition, flags=re.IGNORECASE):
                no_operations[column]['c'] += 1
            elif re.match(r".*(=|\bIN\b|\bIS\b|\bLIKE\b).*", condition, flags=re.IGNORECASE):
                no_operations[column]['e'] += 1
            

print(no_operations)

{'ca_address_sk': {'e': 46, 'c': 0}, 'ca_address_id': {'e': 0, 'c': 0}, 'ca_street_number': {'e': 0, 'c': 0}, 'ca_street_name': {'e': 0, 'c': 0}, 'ca_street_type': {'e': 0, 'c': 0}, 'ca_suite_number': {'e': 0, 'c': 0}, 'ca_city': {'e': 1, 'c': 2}, 'ca_county': {'e': 7, 'c': 0}, 'ca_state': {'e': 18, 'c': 0}, 'ca_zip': {'e': 5, 'c': 1}, 'ca_country': {'e': 9, 'c': 1}, 'ca_gmt_offset': {'e': 12, 'c': 0}, 'ca_location_type': {'e': 0, 'c': 0}, 'cd_demo_sk': {'e': 21, 'c': 0}, 'cd_gender': {'e': 4, 'c': 0}, 'cd_marital_status': {'e': 18, 'c': 1}, 'cd_education_status': {'e': 18, 'c': 0}, 'cd_purchase_estimate': {'e': 0, 'c': 0}, 'cd_credit_rating': {'e': 0, 'c': 0}, 'cd_dep_count': {'e': 0, 'c': 0}, 'cd_dep_employed_count': {'e': 0, 'c': 0}, 'cd_dep_college_count': {'e': 0, 'c': 0}, 'd_date_sk': {'e': 155, 'c': 0}, 'd_date_id': {'e': 0, 'c': 0}, 'd_date': {'e': 167, 'c': 27}, 'd_month_seq': {'e': 3, 'c': 22}, 'd_week_seq': {'e': 13, 'c': 0}, 'd_quarter_seq': {'e': 0, 'c': 0}, 'd_year': {'e': 95, 'c': 6}, 'd_dow': {'e': 2, 'c': 0}, 'd_moy': {'e': 41, 'c': 9}, 'd_dom': {'e': 0, 'c': 4}, 'd_qoy': {'e': 9, 'c': 3}, 'd_fy_year': {'e': 0, 'c': 0}, 'd_fy_quarter_seq': {'e': 0, 'c': 0}, 'd_fy_week_seq': {'e': 0, 'c': 0}, 'd_day_name': {'e': 0, 'c': 0}, 'd_quarter_name': {'e': 3, 'c': 0}, 'd_holiday': {'e': 0, 'c': 0}, 'd_weekend': {'e': 0, 'c': 0}, 'd_following_holiday': {'e': 0, 'c': 0}, 'd_first_dom': {'e': 0, 'c': 0}, 'd_last_dom': {'e': 0, 'c': 0}, 'd_same_day_ly': {'e': 0, 'c': 0}, 'd_same_day_lq': {'e': 0, 'c': 0}, 'd_current_day': {'e': 0, 'c': 0}, 'd_current_week': {'e': 0, 'c': 0}, 'd_current_month': {'e': 0, 'c': 0}, 'd_current_quarter': {'e': 0, 'c': 0}, 'd_current_year': {'e': 0, 'c': 0}, 't_time_sk': {'e': 14, 'c': 0}, 't_time_id': {'e': 0, 'c': 0}, 't_time': {'e': 14, 'c': 2}, 't_hour': {'e': 9, 'c': 2}, 't_minute': {'e': 0, 'c': 9}, 't_second': {'e': 0, 'c': 0}, 't_am_pm': {'e': 0, 'c': 0}, 't_shift': {'e': 0, 'c': 0}, 't_sub_shift': {'e': 0, 'c': 0}, 't_meal_time': {'e': 2, 'c': 0}, 'i_item_sk': {'e': 76, 'c': 0}, 'i_item_id': {'e': 7, 'c': 0}, 'i_rec_start_date': {'e': 0, 'c': 0}, 'i_rec_end_date': {'e': 0, 'c': 0}, 'i_item_desc': {'e': 0, 'c': 0}, 'i_current_price': {'e': 0, 'c': 10}, 'i_wholesale_cost': {'e': 0, 'c': 0}, 'i_brand_id': {'e': 2, 'c': 0}, 'i_brand': {'e': 10, 'c': 0}, 'i_class_id': {'e': 2, 'c': 0}, 'i_class': {'e': 9, 'c': 0}, 'i_category_id': {'e': 2, 'c': 0}, 'i_category': {'e': 36, 'c': 0}, 'i_manufact_id': {'e': 9, 'c': 1}, 'i_manufact': {'e': 11, 'c': 1}, 'i_size': {'e': 16, 'c': 0}, 'i_formulation': {'e': 0, 'c': 0}, 'i_color': {'e': 21, 'c': 0}, 'i_units': {'e': 16, 'c': 0}, 'i_container': {'e': 0, 'c': 0}, 'i_manager_id': {'e': 5, 'c': 0}, 'i_product_name': {'e': 0, 'c': 0}, 'c_customer_sk': {'e': 44, 'c': 0}, 'c_customer_id': {'e': 0, 'c': 0}, 'c_current_cdemo_sk': {'e': 7, 'c': 0}, 'c_current_hdemo_sk': {'e': 3, 'c': 0}, 'c_current_addr_sk': {'e': 20, 'c': 0}, 'c_first_shipto_date_sk': {'e': 1, 'c': 0}, 'c_first_sales_date_sk': {'e': 1, 'c': 0}, 'c_salutation': {'e': 0, 'c': 0}, 'c_first_name': {'e': 0, 'c': 0}, 'c_last_name': {'e': 0, 'c': 0}, 'c_preferred_cust_flag': {'e': 1, 'c': 0}, 'c_birth_day': {'e': 0, 'c': 0}, 'c_birth_month': {'e': 1, 'c': 0}, 'c_birth_year': {'e': 0, 'c': 0}, 'c_birth_country': {'e': 0, 'c': 1}, 'c_login': {'e': 0, 'c': 0}, 'c_email_address': {'e': 0, 'c': 0}, 'c_last_review_date': {'e': 0, 'c': 0}, 'sr_returned_date_sk': {'e': 7, 'c': 0}, 'sr_return_time_sk': {'e': 0, 'c': 0}, 'sr_item_sk': {'e': 10, 'c': 0}, 'sr_customer_sk': {'e': 7, 'c': 0}, 'sr_cdemo_sk': {'e': 1, 'c': 0}, 'sr_hdemo_sk': {'e': 0, 'c': 0}, 'sr_addr_sk': {'e': 0, 'c': 0}, 'sr_store_sk': {'e': 1, 'c': 0}, 'sr_reason_sk': {'e': 1, 'c': 0}, 'sr_ticket_number': {'e': 7, 'c': 0}, 'sr_return_quantity': {'e': 0, 'c': 0}, 'sr_return_amt': {'e': 0, 'c': 1}, 'sr_return_tax': {'e': 0, 'c': 0}, 'sr_return_amt_inc_tax': {'e': 0, 'c': 0}, 'sr_fee': {'e': 0, 'c': 0}, 'sr_return_ship_cost': {'e': 0, 'c': 0}, 'sr_refunded_cash': {'e': 0, 'c': 0}, 'sr_reversed_charge': {'e': 0, 'c': 0}, 'sr_store_credit': {'e': 0, 'c': 0}, 'sr_net_loss': {'e': 0, 'c': 0}, 'hd_demo_sk': {'e': 23, 'c': 0}, 'hd_income_band_sk': {'e': 3, 'c': 0}, 'hd_buy_potential': {'e': 6, 'c': 0}, 'hd_dep_count': {'e': 33, 'c': 0}, 'hd_vehicle_count': {'e': 2, 'c': 27}, 'wp_web_page_sk': {'e': 5, 'c': 0}, 'wp_web_page_id': {'e': 0, 'c': 0}, 'wp_rec_start_date': {'e': 0, 'c': 0}, 'wp_rec_end_date': {'e': 0, 'c': 0}, 'wp_creation_date_sk': {'e': 0, 'c': 0}, 'wp_access_date_sk': {'e': 0, 'c': 0}, 'wp_autogen_flag': {'e': 0, 'c': 0}, 'wp_customer_sk': {'e': 0, 'c': 0}, 'wp_url': {'e': 0, 'c': 0}, 'wp_type': {'e': 0, 'c': 0}, 'wp_char_count': {'e': 0, 'c': 2}, 'wp_link_count': {'e': 0, 'c': 0}, 'wp_image_count': {'e': 0, 'c': 0}, 'wp_max_ad_count': {'e': 0, 'c': 0}, 'p_promo_sk': {'e': 7, 'c': 0}, 'p_promo_id': {'e': 0, 'c': 0}, 'p_start_date_sk': {'e': 0, 'c': 0}, 'p_end_date_sk': {'e': 0, 'c': 0}, 'p_item_sk': {'e': 0, 'c': 0}, 'p_cost': {'e': 0, 'c': 0}, 'p_response_target': {'e': 0, 'c': 0}, 'p_promo_name': {'e': 0, 'c': 0}, 'p_channel_dmail': {'e': 1, 'c': 0}, 'p_channel_email': {'e': 3, 'c': 0}, 'p_channel_catalog': {'e': 0, 'c': 0}, 'p_channel_tv': {'e': 4, 'c': 0}, 'p_channel_radio': {'e': 0, 'c': 0}, 'p_channel_press': {'e': 0, 'c': 0}, 'p_channel_event': {'e': 2, 'c': 0}, 'p_channel_demo': {'e': 0, 'c': 0}, 'p_channel_details': {'e': 0, 'c': 0}, 'p_purpose': {'e': 0, 'c': 0}, 'p_discount_active': {'e': 0, 'c': 0}, 'cp_catalog_page_sk': {'e': 2, 'c': 0}, 'cp_catalog_page_id': {'e': 0, 'c': 0}, 'cp_start_date_sk': {'e': 0, 'c': 0}, 'cp_end_date_sk': {'e': 0, 'c': 0}, 'cp_department': {'e': 0, 'c': 0}, 'cp_catalog_number': {'e': 0, 'c': 0}, 'cp_catalog_page_number': {'e': 0, 'c': 0}, 'cp_description': {'e': 0, 'c': 0}, 'cp_type': {'e': 0, 'c': 0}, 'inv_date_sk': {'e': 5, 'c': 0}, 'inv_item_sk': {'e': 5, 'c': 0}, 'inv_warehouse_sk': {'e': 2, 'c': 0}, 'inv_quantity_on_hand': {'e': 0, 'c': 3}, 'cr_returned_date_sk': {'e': 4, 'c': 0}, 'cr_returned_time_sk': {'e': 0, 'c': 0}, 'cr_item_sk': {'e': 2, 'c': 0}, 'cr_refunded_customer_sk': {'e': 0, 'c': 0}, 'cr_refunded_cdemo_sk': {'e': 0, 'c': 0}, 'cr_refunded_hdemo_sk': {'e': 0, 'c': 0}, 'cr_refunded_addr_sk': {'e': 0, 'c': 0}, 'cr_returning_customer_sk': {'e': 1, 'c': 0}, 'cr_returning_cdemo_sk': {'e': 0, 'c': 0}, 'cr_returning_hdemo_sk': {'e': 0, 'c': 0}, 'cr_returning_addr_sk': {'e': 1, 'c': 0}, 'cr_call_center_sk': {'e': 1, 'c': 0}, 'cr_catalog_page_sk': {'e': 0, 'c': 0}, 'cr_ship_mode_sk': {'e': 0, 'c': 0}, 'cr_warehouse_sk': {'e': 0, 'c': 0}, 'cr_reason_sk': {'e': 0, 'c': 0}, 'cr_order_number': {'e': 3, 'c': 0}, 'cr_return_quantity': {'e': 0, 'c': 0}, 'cr_return_amount': {'e': 0, 'c': 1}, 'cr_return_tax': {'e': 0, 'c': 0}, 'cr_return_amt_inc_tax': {'e': 0, 'c': 0}, 'cr_fee': {'e': 0, 'c': 0}, 'cr_return_ship_cost': {'e': 0, 'c': 0}, 'cr_refunded_cash': {'e': 0, 'c': 0}, 'cr_reversed_charge': {'e': 0, 'c': 0}, 'cr_store_credit': {'e': 0, 'c': 0}, 'cr_net_loss': {'e': 0, 'c': 0}, 'wr_returned_date_sk': {'e': 3, 'c': 0}, 'wr_returned_time_sk': {'e': 0, 'c': 0}, 'wr_item_sk': {'e': 2, 'c': 0}, 'wr_refunded_customer_sk': {'e': 0, 'c': 0}, 'wr_refunded_cdemo_sk': {'e': 1, 'c': 0}, 'wr_refunded_hdemo_sk': {'e': 0, 'c': 0}, 'wr_refunded_addr_sk': {'e': 1, 'c': 0}, 'wr_returning_customer_sk': {'e': 0, 'c': 0}, 'wr_returning_cdemo_sk': {'e': 1, 'c': 0}, 'wr_returning_hdemo_sk': {'e': 0, 'c': 0}, 'wr_returning_addr_sk': {'e': 1, 'c': 0}, 'wr_web_page_sk': {'e': 1, 'c': 0}, 'wr_reason_sk': {'e': 1, 'c': 0}, 'wr_order_number': {'e': 4, 'c': 0}, 'wr_return_quantity': {'e': 0, 'c': 0}, 'wr_return_amt': {'e': 0, 'c': 1}, 'wr_return_tax': {'e': 0, 'c': 0}, 'wr_return_amt_inc_tax': {'e': 0, 'c': 0}, 'wr_fee': {'e': 0, 'c': 0}, 'wr_return_ship_cost': {'e': 0, 'c': 0}, 'wr_refunded_cash': {'e': 0, 'c': 0}, 'wr_reversed_charge': {'e': 0, 'c': 0}, 'wr_account_credit': {'e': 0, 'c': 0}, 'wr_net_loss': {'e': 0, 'c': 0}, 'ws_sold_date_sk': {'e': 30, 'c': 0}, 'ws_sold_time_sk': {'e': 3, 'c': 0}, 'ws_ship_date_sk': {'e': 3, 'c': 0}, 'ws_item_sk': {'e': 17, 'c': 0}, 'ws_bill_customer_sk': {'e': 10, 'c': 0}, 'ws_bill_cdemo_sk': {'e': 0, 'c': 0}, 'ws_bill_hdemo_sk': {'e': 0, 'c': 0}, 'ws_bill_addr_sk': {'e': 4, 'c': 0}, 'ws_ship_customer_sk': {'e': 0, 'c': 0}, 'ws_ship_cdemo_sk': {'e': 0, 'c': 0}, 'ws_ship_hdemo_sk': {'e': 3, 'c': 0}, 'ws_ship_addr_sk': {'e': 2, 'c': 0}, 'ws_web_page_sk': {'e': 4, 'c': 0}, 'ws_web_site_sk': {'e': 4, 'c': 0}, 'ws_ship_mode_sk': {'e': 2, 'c': 0}, 'ws_warehouse_sk': {'e': 2, 'c': 2}, 'ws_promo_sk': {'e': 1, 'c': 0}, 'ws_order_number': {'e': 7, 'c': 0}, 'ws_quantity': {'e': 0, 'c': 1}, 'ws_wholesale_cost': {'e': 0, 'c': 0}, 'ws_list_price': {'e': 0, 'c': 0}, 'ws_sales_price': {'e': 0, 'c': 3}, 'ws_ext_discount_amt': {'e': 0, 'c': 1}, 'ws_ext_sales_price': {'e': 0, 'c': 0}, 'ws_ext_wholesale_cost': {'e': 0, 'c': 0}, 'ws_ext_list_price': {'e': 0, 'c': 0}, 'ws_ext_tax': {'e': 0, 'c': 0}, 'ws_coupon_amt': {'e': 0, 'c': 0}, 'ws_ext_ship_cost': {'e': 0, 'c': 0}, 'ws_net_paid': {'e': 0, 'c': 1}, 'ws_net_paid_inc_tax': {'e': 0, 'c': 0}, 'ws_net_paid_inc_ship': {'e': 0, 'c': 0}, 'ws_net_paid_inc_ship_tax': {'e': 0, 'c': 0}, 'ws_net_profit': {'e': 0, 'c': 4}, 'cs_sold_date_sk': {'e': 32, 'c': 0}, 'cs_sold_time_sk': {'e': 1, 'c': 0}, 'cs_ship_date_sk': {'e': 2, 'c': 0}, 'cs_bill_customer_sk': {'e': 10, 'c': 0}, 'cs_bill_cdemo_sk': {'e': 2, 'c': 0}, 'cs_bill_hdemo_sk': {'e': 0, 'c': 0}, 'cs_bill_addr_sk': {'e': 3, 'c': 0}, 'cs_ship_customer_sk': {'e': 3, 'c': 0}, 'cs_ship_cdemo_sk': {'e': 0, 'c': 0}, 'cs_ship_hdemo_sk': {'e': 0, 'c': 0}, 'cs_ship_addr_sk': {'e': 1, 'c': 0}, 'cs_call_center_sk': {'e': 3, 'c': 0}, 'cs_catalog_page_sk': {'e': 1, 'c': 0}, 'cs_ship_mode_sk': {'e': 2, 'c': 0}, 'cs_warehouse_sk': {'e': 3, 'c': 1}, 'cs_item_sk': {'e': 23, 'c': 0}, 'cs_promo_sk': {'e': 2, 'c': 0}, 'cs_order_number': {'e': 3, 'c': 0}, 'cs_quantity': {'e': 0, 'c': 2}, 'cs_wholesale_cost': {'e': 0, 'c': 0}, 'cs_list_price': {'e': 0, 'c': 0}, 'cs_sales_price': {'e': 0, 'c': 1}, 'cs_ext_discount_amt': {'e': 0, 'c': 1}, 'cs_ext_sales_price': {'e': 0, 'c': 0}, 'cs_ext_wholesale_cost': {'e': 0, 'c': 0}, 'cs_ext_list_price': {'e': 0, 'c': 0}, 'cs_ext_tax': {'e': 0, 'c': 0}, 'cs_coupon_amt': {'e': 0, 'c': 0}, 'cs_ext_ship_cost': {'e': 0, 'c': 0}, 'cs_net_paid': {'e': 0, 'c': 1}, 'cs_net_paid_inc_tax': {'e': 0, 'c': 0}, 'cs_net_paid_inc_ship': {'e': 0, 'c': 0}, 'cs_net_paid_inc_ship_tax': {'e': 0, 'c': 0}, 'cs_net_profit': {'e': 0, 'c': 1}, 'ss_sold_date_sk': {'e': 62, 'c': 0}, 'ss_sold_time_sk': {'e': 9, 'c': 0}, 'ss_item_sk': {'e': 42, 'c': 0}, 'ss_customer_sk': {'e': 27, 'c': 0}, 'ss_cdemo_sk': {'e': 9, 'c': 0}, 'ss_hdemo_sk': {'e': 20, 'c': 0}, 'ss_addr_sk': {'e': 13, 'c': 0}, 'ss_store_sk': {'e': 46, 'c': 0}, 'ss_promo_sk': {'e': 4, 'c': 0}, 'ss_ticket_number': {'e': 6, 'c': 0}, 'ss_quantity': {'e': 0, 'c': 22}, 'ss_wholesale_cost': {'e': 0, 'c': 6}, 'ss_list_price': {'e': 0, 'c': 6}, 'ss_sales_price': {'e': 0, 'c': 6}, 'ss_ext_discount_amt': {'e': 0, 'c': 0}, 'ss_ext_sales_price': {'e': 0, 'c': 0}, 'ss_ext_wholesale_cost': {'e': 0, 'c': 0}, 'ss_ext_list_price': {'e': 0, 'c': 0}, 'ss_ext_tax': {'e': 0, 'c': 0}, 'ss_coupon_amt': {'e': 0, 'c': 6}, 'ss_net_paid': {'e': 0, 'c': 1}, 'ss_net_paid_inc_tax': {'e': 0, 'c': 0}, 'ss_net_profit': {'e': 0, 'c': 7}}

In [10]:
analytics = pd.DataFrame([
    {'attname': key, 'equalities': value['e'], 'comparisons': value['c']}
    for key, value in no_operations.items()
])
analytics

                 attname  equalities  comparisons
0          ca_address_sk          46            0
1          ca_address_id           0            0
2       ca_street_number           0            0
3         ca_street_name           0            0
4         ca_street_type           0            0
..                   ...         ...          ...
308           ss_ext_tax           0            0
309        ss_coupon_amt           0            6
310          ss_net_paid           0            1
311  ss_net_paid_inc_tax           0            0
312        ss_net_profit           0            7

[313 rows x 3 columns]

In [11]:
# Set the threshold parameter
threshold = 5

In [12]:
# decide which columns need indexes and what type

def decide_index_type(row, threshold):
    e = row['equalities']
    c = row['comparisons']
    if e > threshold and c > threshold:
        return 'btree'
    elif e == 0 and c > threshold:
        return 'btree'
    elif e > threshold and c == 0:
        return 'hash'
    else:
        return None

analytics['index_type'] = analytics.apply(lambda row: decide_index_type(row, threshold), axis=1)

# columns that need indexing
index_candidates = analytics[analytics['index_type'].notnull()]
index_candidates.reset_index(drop=True, inplace=True)
index_candidates

                attname  equalities  comparisons index_type
0         ca_address_sk          46            0       hash
1             ca_county           7            0       hash
2              ca_state          18            0       hash
3         ca_gmt_offset          12            0       hash
4            cd_demo_sk          21            0       hash
5   cd_education_status          18            0       hash
6             d_date_sk         155            0       hash
7                d_date         167           27      btree
8            d_week_seq          13            0       hash
9                d_year          95            6      btree
10                d_moy          41            9      btree
11            t_time_sk          14            0       hash
12             t_minute           0            9      btree
13            i_item_sk          76            0       hash
14            i_item_id           7            0       hash
15      i_current_price           0           10      btree
16              i_brand          10            0       hash
17              i_class           9            0       hash
18           i_category          36            0       hash
19               i_size          16            0       hash
20              i_color          21            0       hash
21              i_units          16            0       hash
22        c_customer_sk          44            0       hash
23   c_current_cdemo_sk           7            0       hash
24    c_current_addr_sk          20            0       hash
25  sr_returned_date_sk           7            0       hash
26           sr_item_sk          10            0       hash
27       sr_customer_sk           7            0       hash
28     sr_ticket_number           7            0       hash
29           hd_demo_sk          23            0       hash
30     hd_buy_potential           6            0       hash
31         hd_dep_count          33            0       hash
32           p_promo_sk           7            0       hash
33      ws_sold_date_sk          30            0       hash
34           ws_item_sk          17            0       hash
35  ws_bill_customer_sk          10            0       hash
36      ws_order_number           7            0       hash
37      cs_sold_date_sk          32            0       hash
38  cs_bill_customer_sk          10            0       hash
39           cs_item_sk          23            0       hash
40      ss_sold_date_sk          62            0       hash
41      ss_sold_time_sk           9            0       hash
42           ss_item_sk          42            0       hash
43       ss_customer_sk          27            0       hash
44          ss_cdemo_sk           9            0       hash
45          ss_hdemo_sk          20            0       hash
46           ss_addr_sk          13            0       hash
47          ss_store_sk          46            0       hash
48     ss_ticket_number           6            0       hash
49          ss_quantity           0           22      btree
50    ss_wholesale_cost           0            6      btree
51        ss_list_price           0            6      btree
52       ss_sales_price           0            6      btree
53        ss_coupon_amt           0            6      btree
54        ss_net_profit           0            7      btree

In [13]:
# list of columns to find tables for
columns_to_find = list(index_candidates['attname'])

columns_in_clause = "', '".join(columns_to_find)

query = f"""
SELECT table_name, column_name
FROM information_schema.columns
WHERE table_schema = 'public'
AND column_name IN ('{columns_in_clause}');
"""

cur.execute(query)
results = cur.fetchall()

tables_columns = pd.DataFrame(results, columns=['table_name', 'attname'])
tables_columns

                table_name              attname
0                web_sales      ws_order_number
1                 date_dim               d_date
2                 date_dim           d_week_seq
3                 date_dim               d_year
4                 date_dim                d_moy
5                     item            i_item_sk
6              store_sales     ss_ticket_number
7              store_sales          ss_quantity
8              store_sales    ss_wholesale_cost
9              store_sales        ss_list_price
10             store_sales       ss_sales_price
11             store_sales        ss_coupon_amt
12             store_sales        ss_net_profit
13               web_sales      ws_sold_date_sk
14               web_sales           ws_item_sk
15               web_sales  ws_bill_customer_sk
16                date_dim            d_date_sk
17                    item      i_current_price
18        customer_address        ca_address_sk
19        customer_address        ca_gmt_offset
20   customer_demographics           cd_demo_sk
21                customer        c_customer_sk
22                customer   c_current_cdemo_sk
23                customer    c_current_addr_sk
24  household_demographics           hd_demo_sk
25  household_demographics         hd_dep_count
26                time_dim            t_time_sk
27                time_dim             t_minute
28           catalog_sales      cs_sold_date_sk
29           catalog_sales  cs_bill_customer_sk
30           catalog_sales           cs_item_sk
31               promotion           p_promo_sk
32           store_returns  sr_returned_date_sk
33           store_returns           sr_item_sk
34           store_returns       sr_customer_sk
35           store_returns     sr_ticket_number
36             store_sales      ss_sold_date_sk
37             store_sales      ss_sold_time_sk
38             store_sales           ss_item_sk
39             store_sales       ss_customer_sk
40             store_sales          ss_cdemo_sk
41             store_sales          ss_hdemo_sk
42             store_sales           ss_addr_sk
43             store_sales          ss_store_sk
44                    item            i_item_id
45   customer_demographics  cd_education_status
46                    item              i_brand
47                    item              i_class
48                    item           i_category
49                    item               i_size
50                    item              i_color
51                    item              i_units
52  household_demographics     hd_buy_potential
53        customer_address            ca_county
54        customer_address             ca_state

In [14]:
index_candidates = index_candidates[['attname', 'equalities', 'comparisons', 'index_type']]
tables_columns = tables_columns[['table_name', 'attname']]

# merge with suffixes
index_candidates = index_candidates.merge(tables_columns, on='attname', how='inner', suffixes=('', '_from_tables'))
index_candidates

,attname,equalities,comparisons,index_type,table_name
0,ca_address_sk,46,0,hash,customer_address
1,ca_county,7,0,hash,customer_address
2,ca_state,18,0,hash,customer_address
3,ca_gmt_offset,12,0,hash,customer_address
4,cd_demo_sk,21,0,hash,customer_demographics
5,cd_education_status,18,0,hash,customer_demographics
6,d_date_sk,155,0,hash,date_dim
7,d_date,167,27,btree,date_dim
8,d_week_seq,13,0,hash,date_dim
9,d_year,95,6,btree,date_dim
10,d_moy,41,9,btree,date_dim
11,t_time_sk,14,0,hash,time_dim
12,t_minute,0,9,btree,time_dim
13,i_item_sk,76,0,hash,item
14,i_item_id,7,0,hash,item
15,i_current_price,0,10,btree,item
16,i_brand,10,0,hash,item
17,i_class,9,0,hash,item
18,i_category,36,0,hash,item
19,i_size,16,0,hash,item
20,i_color,21,0,hash,item
21,i_units,16,0,hash,item
22,c_customer_sk,44,0,hash,customer
23,c_current_cdemo_sk,7,0,hash,customer
24,c_current_addr_sk,20,0,hash,customer
25,sr_returned_date_sk,7,0,hash,store_returns
26,sr_item_sk,10,0,hash,store_returns
27,sr_customer_sk,7,0,hash,store_returns
28,sr_ticket_number,7,0,hash,store_returns
29,hd_demo_sk,23,0,hash,household_demographics
30,hd_buy_potential,6,0,hash,household_demographics
31,hd_dep_count,33,0,hash,household_demographics
32,p_promo_sk,7,0,hash,promotion
33,ws_sold_date_sk,30,0,hash,web_sales
34,ws_item_sk,17,0,hash,web_sales
35,ws_bill_customer_sk,10,0,hash,web_sales
36,ws_order_number,7,0,hash,web_sales
37,cs_sold_date_sk,32,0,hash,catalog_sales
38,cs_bill_customer_sk,10,0,hash,catalog_sales
39,cs_item_sk,23,0,hash,catalog_sales
40,ss_sold_date_sk,62,0,hash,store_sales
41,ss_sold_time_sk,9,0,hash,store_sales
42,ss_item_sk,42,0,hash,store_sales
43,ss_customer_sk,27,0,hash,store_sales
44,ss_cdemo_sk,9,0,hash,store_sales
45,ss_hdemo_sk,20,0,hash,store_sales
46,ss_addr_sk,13,0,hash,store_sales
47,ss_store_sk,46,0,hash,store_sales
48,ss_ticket_number,6,0,hash,store_sales
49,ss_quantity,0,22,btree,store_sales
50,ss_wholesale_cost,0,6,btree,store_sales
51,ss_list_price,0,6,btree,store_sales
52,ss_sales_price,0,6,btree,store_sales
53,ss_coupon_amt,0,6,btree,store_sales
54,ss_net_profit,0,7,btree,store_sales

In [15]:
# n_distinct from pg_stats for all columns
query = """
SELECT tablename, attname, n_distinct
FROM pg_stats
WHERE schemaname = 'public';
"""

cur.execute(query)
results = cur.fetchall()

# df with n_distinct
pg_stats_df = pd.DataFrame(results, columns=['table_name', 'attname', 'n_distinct'])

# merge with index_candidates
index_candidates = index_candidates.merge(pg_stats_df, on=['table_name', 'attname'], how='left')
index_candidates

,attname,equalities,comparisons,index_type,table_name,n_distinct
0,ca_address_sk,46,0,hash,customer_address,-1.000000
1,ca_county,7,0,hash,customer_address,1846.000000
2,ca_state,18,0,hash,customer_address,51.000000
3,ca_gmt_offset,12,0,hash,customer_address,6.000000
4,cd_demo_sk,21,0,hash,customer_demographics,-1.000000
5,cd_education_status,18,0,hash,customer_demographics,7.000000
6,d_date_sk,155,0,hash,date_dim,-1.000000
7,d_date,167,27,btree,date_dim,-1.000000
8,d_week_seq,13,0,hash,date_dim,-0.142863
9,d_year,95,6,btree,date_dim,201.000000
10,d_moy,41,9,btree,date_dim,12.000000
11,t_time_sk,14,0,hash,time_dim,-1.000000
12,t_minute,0,9,btree,time_dim,60.000000
13,i_item_sk,76,0,hash,item,-1.000000
14,i_item_id,7,0,hash,item,-0.500000
15,i_current_price,0,10,btree,item,-0.149333
16,i_brand,10,0,hash,item,712.000000
17,i_class,9,0,hash,item,99.000000
18,i_category,36,0,hash,item,10.000000
19,i_size,16,0,hash,item,7.000000
20,i_color,21,0,hash,item,92.000000
21,i_units,16,0,hash,item,21.000000
22,c_customer_sk,44,0,hash,customer,-1.000000
23,c_current_cdemo_sk,7,0,hash,customer,-0.921580
24,c_current_addr_sk,20,0,hash,customer,-0.366080
25,sr_returned_date_sk,7,0,hash,store_returns,1982.000000
26,sr_item_sk,10,0,hash,store_returns,16218.000000
27,sr_customer_sk,7,0,hash,store_returns,-0.230295
28,sr_ticket_number,7,0,hash,store_returns,-0.482050
29,hd_demo_sk,23,0,hash,household_demographics,-1.000000
30,hd_buy_potential,6,0,hash,household_demographics,6.000000
31,hd_dep_count,33,0,hash,household_demographics,10.000000
32,p_promo_sk,7,0,hash,promotion,-1.000000
33,ws_sold_date_sk,30,0,hash,web_sales,1822.000000
34,ws_item_sk,17,0,hash,web_sales,16327.000000
35,ws_bill_customer_sk,10,0,hash,web_sales,39738.000000
36,ws_order_number,7,0,hash,web_sales,58215.000000
37,cs_sold_date_sk,32,0,hash,catalog_sales,1830.000000
38,cs_bill_customer_sk,10,0,hash,catalog_sales,57776.000000
39,cs_item_sk,23,0,hash,catalog_sales,16528.000000
40,ss_sold_date_sk,62,0,hash,store_sales,1823.000000
41,ss_sold_time_sk,9,0,hash,store_sales,35166.000000
42,ss_item_sk,42,0,hash,store_sales,16505.000000
43,ss_customer_sk,27,0,hash,store_sales,62199.000000
44,ss_cdemo_sk,9,0,hash,store_sales,136097.000000
45,ss_hdemo_sk,20,0,hash,store_sales,7163.000000
46,ss_addr_sk,13,0,hash,store_sales,39748.000000
47,ss_store_sk,46,0,hash,store_sales,6.000000
48,ss_ticket_number,6,0,hash,store_sales,146755.000000
49,ss_quantity,0,22,btree,store_sales,100.000000
50,ss_wholesale_cost,0,6,btree,store_sales,9852.000000
51,ss_list_price,0,6,btree,store_sales,16994.000000
52,ss_sales_price,0,6,btree,store_sales,11389.000000
53,ss_coupon_amt,0,6,btree,store_sales,6820.000000
54,ss_net_profit,0,7,btree,store_sales,151727.000000

In [16]:
# estimated row counts from pg_class
table_names = index_candidates['table_name'].unique()
table_names_list = "', '".join(table_names)

query = f"""
SELECT relname AS table_name, reltuples AS row_count
FROM pg_class
WHERE relname IN ('{table_names_list}');
"""

cur.execute(query)
results = cur.fetchall()
row_counts_df = pd.DataFrame(results, columns=['table_name', 'row_count'])

# merge with index_candidates
index_candidates = index_candidates.merge(row_counts_df, on='table_name', how='left')
index_candidates

,attname,equalities,comparisons,index_type,table_name,n_distinct,row_count
0,ca_address_sk,46,0,hash,customer_address,-1.000000,50000.0
1,ca_county,7,0,hash,customer_address,1846.000000,50000.0
2,ca_state,18,0,hash,customer_address,51.000000,50000.0
3,ca_gmt_offset,12,0,hash,customer_address,6.000000,50000.0
4,cd_demo_sk,21,0,hash,customer_demographics,-1.000000,1920800.0
5,cd_education_status,18,0,hash,customer_demographics,7.000000,1920800.0
6,d_date_sk,155,0,hash,date_dim,-1.000000,73049.0
7,d_date,167,27,btree,date_dim,-1.000000,73049.0
8,d_week_seq,13,0,hash,date_dim,-0.142863,73049.0
9,d_year,95,6,btree,date_dim,201.000000,73049.0
10,d_moy,41,9,btree,date_dim,12.000000,73049.0
11,t_time_sk,14,0,hash,time_dim,-1.000000,86400.0
12,t_minute,0,9,btree,time_dim,60.000000,86400.0
13,i_item_sk,76,0,hash,item,-1.000000,18000.0
14,i_item_id,7,0,hash,item,-0.500000,18000.0
15,i_current_price,0,10,btree,item,-0.149333,18000.0
16,i_brand,10,0,hash,item,712.000000,18000.0
17,i_class,9,0,hash,item,99.000000,18000.0
18,i_category,36,0,hash,item,10.000000,18000.0
19,i_size,16,0,hash,item,7.000000,18000.0
20,i_color,21,0,hash,item,92.000000,18000.0
21,i_units,16,0,hash,item,21.000000,18000.0
22,c_customer_sk,44,0,hash,customer,-1.000000,100000.0
23,c_current_cdemo_sk,7,0,hash,customer,-0.921580,100000.0
24,c_current_addr_sk,20,0,hash,customer,-0.366080,100000.0
25,sr_returned_date_sk,7,0,hash,store_returns,1982.000000,287514.0
26,sr_item_sk,10,0,hash,store_returns,16218.000000,287514.0
27,sr_customer_sk,7,0,hash,store_returns,-0.230295,287514.0
28,sr_ticket_number,7,0,hash,store_returns,-0.482050,287514.0
29,hd_demo_sk,23,0,hash,household_demographics,-1.000000,7200.0
30,hd_buy_potential,6,0,hash,household_demographics,6.000000,7200.0
31,hd_dep_count,33,0,hash,household_demographics,10.000000,7200.0
32,p_promo_sk,7,0,hash,promotion,-1.000000,300.0
33,ws_sold_date_sk,30,0,hash,web_sales,1822.000000,719384.0
34,ws_item_sk,17,0,hash,web_sales,16327.000000,719384.0
35,ws_bill_customer_sk,10,0,hash,web_sales,39738.000000,719384.0
36,ws_order_number,7,0,hash,web_sales,58215.000000,719384.0
37,cs_sold_date_sk,32,0,hash,catalog_sales,1830.000000,1441671.0
38,cs_bill_customer_sk,10,0,hash,catalog_sales,57776.000000,1441671.0
39,cs_item_sk,23,0,hash,catalog_sales,16528.000000,1441671.0
40,ss_sold_date_sk,62,0,hash,store_sales,1823.000000,2880348.0
41,ss_sold_time_sk,9,0,hash,store_sales,35166.000000,2880348.0
42,ss_item_sk,42,0,hash,store_sales,16505.000000,2880348.0
43,ss_customer_sk,27,0,hash,store_sales,62199.000000,2880348.0
44,ss_cdemo_sk,9,0,hash,store_sales,136097.000000,2880348.0
45,ss_hdemo_sk,20,0,hash,store_sales,7163.000000,2880348.0
46,ss_addr_sk,13,0,hash,store_sales,39748.000000,2880348.0
47,ss_store_sk,46,0,hash,store_sales,6.000000,2880348.0
48,ss_ticket_number,6,0,hash,store_sales,146755.000000,2880348.0
49,ss_quantity,0,22,btree,store_sales,100.000000,2880348.0
50,ss_wholesale_cost,0,6,btree,store_sales,9852.000000,2880348.0
51,ss_list_price,0,6,btree,store_sales,16994.000000,2880348.0
52,ss_sales_price,0,6,btree,store_sales,11389.000000,2880348.0
53,ss_coupon_amt,0,6,btree,store_sales,6820.000000,2880348.0
54,ss_net_profit,0,7,btree,store_sales,151727.000000,2880348.0

In [17]:
# estimated number of distinct values (based on n_distinct and row_count)
def compute_estimated_distinct(row):
    n_distinct = row['n_distinct']
    if n_distinct >= 0:
        return n_distinct
    else:
        # negative n_distinct -> a fraction of row_count
        return abs(n_distinct) * row['row_count']

index_candidates['estimated_distinct'] = index_candidates.apply(compute_estimated_distinct, axis=1)
index_candidates

,attname,equalities,comparisons,index_type,table_name,n_distinct,row_count,estimated_distinct
0,ca_address_sk,46,0,hash,customer_address,-1.000000,50000.0,5.000000e+04
1,ca_county,7,0,hash,customer_address,1846.000000,50000.0,1.846000e+03
2,ca_state,18,0,hash,customer_address,51.000000,50000.0,5.100000e+01
3,ca_gmt_offset,12,0,hash,customer_address,6.000000,50000.0,6.000000e+00
4,cd_demo_sk,21,0,hash,customer_demographics,-1.000000,1920800.0,1.920800e+06
5,cd_education_status,18,0,hash,customer_demographics,7.000000,1920800.0,7.000000e+00
6,d_date_sk,155,0,hash,date_dim,-1.000000,73049.0,7.304900e+04
7,d_date,167,27,btree,date_dim,-1.000000,73049.0,7.304900e+04
8,d_week_seq,13,0,hash,date_dim,-0.142863,73049.0,1.043600e+04
9,d_year,95,6,btree,date_dim,201.000000,73049.0,2.010000e+02
10,d_moy,41,9,btree,date_dim,12.000000,73049.0,1.200000e+01
11,t_time_sk,14,0,hash,time_dim,-1.000000,86400.0,8.640000e+04
12,t_minute,0,9,btree,time_dim,60.000000,86400.0,6.000000e+01
13,i_item_sk,76,0,hash,item,-1.000000,18000.0,1.800000e+04
14,i_item_id,7,0,hash,item,-0.500000,18000.0,9.000000e+03
15,i_current_price,0,10,btree,item,-0.149333,18000.0,2.688000e+03
16,i_brand,10,0,hash,item,712.000000,18000.0,7.120000e+02
17,i_class,9,0,hash,item,99.000000,18000.0,9.900000e+01
18,i_category,36,0,hash,item,10.000000,18000.0,1.000000e+01
19,i_size,16,0,hash,item,7.000000,18000.0,7.000000e+00
20,i_color,21,0,hash,item,92.000000,18000.0,9.200000e+01
21,i_units,16,0,hash,item,21.000000,18000.0,2.100000e+01
22,c_customer_sk,44,0,hash,customer,-1.000000,100000.0,1.000000e+05
23,c_current_cdemo_sk,7,0,hash,customer,-0.921580,100000.0,9.215800e+04
24,c_current_addr_sk,20,0,hash,customer,-0.366080,100000.0,3.660800e+04
25,sr_returned_date_sk,7,0,hash,store_returns,1982.000000,287514.0,1.982000e+03
26,sr_item_sk,10,0,hash,store_returns,16218.000000,287514.0,1.621800e+04
27,sr_customer_sk,7,0,hash,store_returns,-0.230295,287514.0,6.621300e+04
28,sr_ticket_number,7,0,hash,store_returns,-0.482050,287514.0,1.385960e+05
29,hd_demo_sk,23,0,hash,household_demographics,-1.000000,7200.0,7.200000e+03
30,hd_buy_potential,6,0,hash,household_demographics,6.000000,7200.0,6.000000e+00
31,hd_dep_count,33,0,hash,household_demographics,10.000000,7200.0,1.000000e+01
32,p_promo_sk,7,0,hash,promotion,-1.000000,300.0,3.000000e+02
33,ws_sold_date_sk,30,0,hash,web_sales,1822.000000,719384.0,1.822000e+03
34,ws_item_sk,17,0,hash,web_sales,16327.000000,719384.0,1.632700e+04
35,ws_bill_customer_sk,10,0,hash,web_sales,39738.000000,719384.0,3.973800e+04
36,ws_order_number,7,0,hash,web_sales,58215.000000,719384.0,5.821500e+04
37,cs_sold_date_sk,32,0,hash,catalog_sales,1830.000000,1441671.0,1.830000e+03
38,cs_bill_customer_sk,10,0,hash,catalog_sales,57776.000000,1441671.0,5.777600e+04
39,cs_item_sk,23,0,hash,catalog_sales,16528.000000,1441671.0,1.652800e+04
40,ss_sold_date_sk,62,0,hash,store_sales,1823.000000,2880348.0,1.823000e+03
41,ss_sold_time_sk,9,0,hash,store_sales,35166.000000,2880348.0,3.516600e+04
42,ss_item_sk,42,0,hash,store_sales,16505.000000,2880348.0,1.650500e+04
43,ss_customer_sk,27,0,hash,store_sales,62199.000000,2880348.0,6.219900e+04
44,ss_cdemo_sk,9,0,hash,store_sales,136097.000000,2880348.0,1.360970e+05
45,ss_hdemo_sk,20,0,hash,store_sales,7163.000000,2880348.0,7.163000e+03
46,ss_addr_sk,13,0,hash,store_sales,39748.000000,2880348.0,3.974800e+04
47,ss_store_sk,46,0,hash,store_sales,6.000000,2880348.0,6.000000e+00
48,ss_ticket_number,6,0,hash,store_sales,146755.000000,2880348.0,1.467550e+05
49,ss_quantity,0,22,btree,store_sales,100.000000,2880348.0,1.000000e+02
50,ss_wholesale_cost,0,6,btree,store_sales,9852.000000,2880348.0,9.852000e+03
51,ss_list_price,0,6,btree,store_sales,16994.000000,2880348.0,1.699400e+04
52,ss_sales_price,0,6,btree,store_sales,11389.000000,2880348.0,1.138900e+04
53,ss_coupon_amt,0,6,btree,store_sales,6820.000000,2880348.0,6.820000e+03
54,ss_net_profit,0,7,btree,store_sales,151727.000000,2880348.0,1.517270e+05

In [18]:
# filter out columns -> this can be adjusted
index_candidates = index_candidates[index_candidates['estimated_distinct'] > 1000]
index_candidates.reset_index(drop=True, inplace=True)
index_candidates

,attname,equalities,comparisons,index_type,table_name,n_distinct,row_count,estimated_distinct
0,ca_address_sk,46,0,hash,customer_address,-1.000000,50000.0,5.000000e+04
1,ca_county,7,0,hash,customer_address,1846.000000,50000.0,1.846000e+03
2,cd_demo_sk,21,0,hash,customer_demographics,-1.000000,1920800.0,1.920800e+06
3,d_date_sk,155,0,hash,date_dim,-1.000000,73049.0,7.304900e+04
4,d_date,167,27,btree,date_dim,-1.000000,73049.0,7.304900e+04
5,d_week_seq,13,0,hash,date_dim,-0.142863,73049.0,1.043600e+04
6,t_time_sk,14,0,hash,time_dim,-1.000000,86400.0,8.640000e+04
7,i_item_sk,76,0,hash,item,-1.000000,18000.0,1.800000e+04
8,i_item_id,7,0,hash,item,-0.500000,18000.0,9.000000e+03
9,i_current_price,0,10,btree,item,-0.149333,18000.0,2.688000e+03
10,c_customer_sk,44,0,hash,customer,-1.000000,100000.0,1.000000e+05
11,c_current_cdemo_sk,7,0,hash,customer,-0.921580,100000.0,9.215800e+04
12,c_current_addr_sk,20,0,hash,customer,-0.366080,100000.0,3.660800e+04
13,sr_returned_date_sk,7,0,hash,store_returns,1982.000000,287514.0,1.982000e+03
14,sr_item_sk,10,0,hash,store_returns,16218.000000,287514.0,1.621800e+04
15,sr_customer_sk,7,0,hash,store_returns,-0.230295,287514.0,6.621300e+04
16,sr_ticket_number,7,0,hash,store_returns,-0.482050,287514.0,1.385960e+05
17,hd_demo_sk,23,0,hash,household_demographics,-1.000000,7200.0,7.200000e+03
18,ws_sold_date_sk,30,0,hash,web_sales,1822.000000,719384.0,1.822000e+03
19,ws_item_sk,17,0,hash,web_sales,16327.000000,719384.0,1.632700e+04
20,ws_bill_customer_sk,10,0,hash,web_sales,39738.000000,719384.0,3.973800e+04
21,ws_order_number,7,0,hash,web_sales,58215.000000,719384.0,5.821500e+04
22,cs_sold_date_sk,32,0,hash,catalog_sales,1830.000000,1441671.0,1.830000e+03
23,cs_bill_customer_sk,10,0,hash,catalog_sales,57776.000000,1441671.0,5.777600e+04
24,cs_item_sk,23,0,hash,catalog_sales,16528.000000,1441671.0,1.652800e+04
25,ss_sold_date_sk,62,0,hash,store_sales,1823.000000,2880348.0,1.823000e+03
26,ss_sold_time_sk,9,0,hash,store_sales,35166.000000,2880348.0,3.516600e+04
27,ss_item_sk,42,0,hash,store_sales,16505.000000,2880348.0,1.650500e+04
28,ss_customer_sk,27,0,hash,store_sales,62199.000000,2880348.0,6.219900e+04
29,ss_cdemo_sk,9,0,hash,store_sales,136097.000000,2880348.0,1.360970e+05
30,ss_hdemo_sk,20,0,hash,store_sales,7163.000000,2880348.0,7.163000e+03
31,ss_addr_sk,13,0,hash,store_sales,39748.000000,2880348.0,3.974800e+04
32,ss_ticket_number,6,0,hash,store_sales,146755.000000,2880348.0,1.467550e+05
33,ss_wholesale_cost,0,6,btree,store_sales,9852.000000,2880348.0,9.852000e+03
34,ss_list_price,0,6,btree,store_sales,16994.000000,2880348.0,1.699400e+04
35,ss_sales_price,0,6,btree,store_sales,11389.000000,2880348.0,1.138900e+04
36,ss_coupon_amt,0,6,btree,store_sales,6820.000000,2880348.0,6.820000e+03
37,ss_net_profit,0,7,btree,store_sales,151727.000000,2880348.0,1.517270e+05

In [19]:
# create indexes
sql_commands = []

for idx, row in index_candidates.iterrows():
    table_name = row['table_name']
    column_name = row['attname']
    index_type = row['index_type']
    index_name = f'idx_{table_name}_{column_name}_{index_type}'
    # index_name does not exceed 63 characters
    index_name = index_name[:63]
    sql = f'CREATE INDEX {index_name} ON {table_name} USING {index_type} ({column_name});'
    sql_commands.append(sql)

for sql in sql_commands:
    print(sql)

CREATE INDEX idx_customer_address_ca_address_sk_hash ON customer_address USING hash (ca_address_sk);
CREATE INDEX idx_customer_address_ca_county_hash ON customer_address USING hash (ca_county);
CREATE INDEX idx_customer_demographics_cd_demo_sk_hash ON customer_demographics USING hash (cd_demo_sk);
CREATE INDEX idx_date_dim_d_date_sk_hash ON date_dim USING hash (d_date_sk);
CREATE INDEX idx_date_dim_d_date_btree ON date_dim USING btree (d_date);
CREATE INDEX idx_date_dim_d_week_seq_hash ON date_dim USING hash (d_week_seq);
CREATE INDEX idx_time_dim_t_time_sk_hash ON time_dim USING hash (t_time_sk);
CREATE INDEX idx_item_i_item_sk_hash ON item USING hash (i_item_sk);
CREATE INDEX idx_item_i_item_id_hash ON item USING hash (i_item_id);
CREATE INDEX idx_item_i_current_price_btree ON item USING btree (i_current_price);
CREATE INDEX idx_customer_c_customer_sk_hash ON customer USING hash (c_customer_sk);
CREATE INDEX idx_customer_c_current_cdemo_sk_hash ON customer USING hash (c_current_cdemo_sk);
CREATE INDEX idx_customer_c_current_addr_sk_hash ON customer USING hash (c_current_addr_sk);
CREATE INDEX idx_store_returns_sr_returned_date_sk_hash ON store_returns USING hash (sr_returned_date_sk);
CREATE INDEX idx_store_returns_sr_item_sk_hash ON store_returns USING hash (sr_item_sk);
CREATE INDEX idx_store_returns_sr_customer_sk_hash ON store_returns USING hash (sr_customer_sk);
CREATE INDEX idx_store_returns_sr_ticket_number_hash ON store_returns USING hash (sr_ticket_number);
CREATE INDEX idx_household_demographics_hd_demo_sk_hash ON household_demographics USING hash (hd_demo_sk);
CREATE INDEX idx_web_sales_ws_sold_date_sk_hash ON web_sales USING hash (ws_sold_date_sk);
CREATE INDEX idx_web_sales_ws_item_sk_hash ON web_sales USING hash (ws_item_sk);
CREATE INDEX idx_web_sales_ws_bill_customer_sk_hash ON web_sales USING hash (ws_bill_customer_sk);
CREATE INDEX idx_web_sales_ws_order_number_hash ON web_sales USING hash (ws_order_number);
CREATE INDEX idx_catalog_sales_cs_sold_date_sk_hash ON catalog_sales USING hash (cs_sold_date_sk);
CREATE INDEX idx_catalog_sales_cs_bill_customer_sk_hash ON catalog_sales USING hash (cs_bill_customer_sk);
CREATE INDEX idx_catalog_sales_cs_item_sk_hash ON catalog_sales USING hash (cs_item_sk);
CREATE INDEX idx_store_sales_ss_sold_date_sk_hash ON store_sales USING hash (ss_sold_date_sk);
CREATE INDEX idx_store_sales_ss_sold_time_sk_hash ON store_sales USING hash (ss_sold_time_sk);
CREATE INDEX idx_store_sales_ss_item_sk_hash ON store_sales USING hash (ss_item_sk);
CREATE INDEX idx_store_sales_ss_customer_sk_hash ON store_sales USING hash (ss_customer_sk);
CREATE INDEX idx_store_sales_ss_cdemo_sk_hash ON store_sales USING hash (ss_cdemo_sk);
CREATE INDEX idx_store_sales_ss_hdemo_sk_hash ON store_sales USING hash (ss_hdemo_sk);
CREATE INDEX idx_store_sales_ss_addr_sk_hash ON store_sales USING hash (ss_addr_sk);
CREATE INDEX idx_store_sales_ss_ticket_number_hash ON store_sales USING hash (ss_ticket_number);
CREATE INDEX idx_store_sales_ss_wholesale_cost_btree ON store_sales USING btree (ss_wholesale_cost);
CREATE INDEX idx_store_sales_ss_list_price_btree ON store_sales USING btree (ss_list_price);
CREATE INDEX idx_store_sales_ss_sales_price_btree ON store_sales USING btree (ss_sales_price);
CREATE INDEX idx_store_sales_ss_coupon_amt_btree ON store_sales USING btree (ss_coupon_amt);
CREATE INDEX idx_store_sales_ss_net_profit_btree ON store_sales USING btree (ss_net_profit);

In [20]:
output_dir = 'index_setup'
output_file = os.path.join(output_dir, 'generated_indexes.sql')

# write SQL commands to the output file
with open(output_file, 'w') as f:
    for sql in sql_commands:
        f.write(sql + '\n')

print(f'SQL commands written to {output_file}')

SQL commands written to index_setup\generated_indexes.sql

In [22]:
cur.close()