# TPCDS: Query Performance Test Script

In [2]:
import os
import numpy as np
import pandas as pd
from utils import connect_postgres, get_files_absolute_path_from_dir, execute_sql
from datetime import datetime
from IPython.display import clear_output
import shutil

In [2]:
# scale factor being tested
sf = 'sf_1'

In [3]:
db_name = "tpcds"
cur = connect_postgres(db_name)

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'tpcds', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

You are connected to -  ('PostgreSQL 16.4, compiled by Visual C++ build 1940, 64-bit',)

In [4]:
# drop all indexes
execute_sql(cur, os.path.join("index_setup", "drop_all_indexes.sql"))

SQL Status Output:
 DO

In [5]:
# create indexes
execute_sql(cur, os.path.join("index_setup", "index_setup.sql"))

SQL Status Output:
 CREATE INDEX

In [4]:
# directories
prev_dir = os.path.join(os.getcwd(), 'all_queries', 'prev_optimized_queries')
our_dir = os.path.join(os.getcwd(), 'all_queries', 'our_optimized_queries')
final_dir = os.path.join(os.getcwd(), 'all_queries', 'optimized_queries_final')

# create the final directory if not exists
if not os.path.exists(final_dir):
    os.makedirs(final_dir)

# list of .sql files in each directory
prev_files = [f for f in os.listdir(prev_dir) if f.endswith('.sql')]
our_files = [f for f in os.listdir(our_dir) if f.endswith('.sql')]

# set of all files
all_files = set(prev_files).union(set(our_files))

for filename in all_files:
    if filename in our_files:
        # take from our_optimized_queries
        src = os.path.join(our_dir, filename)
    else:
        # take from prev_optimized_queries
        src = os.path.join(prev_dir, filename)
    dst = os.path.join(final_dir, filename)
    shutil.copyfile(src, dst)

In [6]:
# get dir path

path = os.path.join(os.getcwd(), 'all_queries', 'prev_optimized_queries')
files = os.listdir(path)
print(path)

D:\BDMA\Data Warehouses\tpcds-benchmark\all_queries\prev_optimized_queries

In [7]:
files_abs_path = get_files_absolute_path_from_dir(path)

Total files: 99
First few files...
['D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/prev_optimized_queries/query-01.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/prev_optimized_queries/query-02.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/prev_optimized_queries/query-03.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/prev_optimized_queries/query-04.sql', 'D:/BDMA/Data Warehouses/tpcds-benchmark/all_queries/prev_optimized_queries/query-05.sql']

In [8]:
# setup dataframe for recording query execution run times

query_name_list = []

for i in range(len(files)):
    query_name_list.append("Q" + files[i][-6:-4])
    
query_name_dict = {'query':query_name_list}
exec_details_df = pd.DataFrame(query_name_dict)

In [9]:
# get the date-time before all 99 queries have run (with iterations if chosen)

run_start_default = datetime.now()
# dd/mm/YY H:M:S
run_start = run_start_default.strftime("%d/%m/%Y %H:%M:%S")
print("Overall Run Start:", run_start)

Overall Run Start: 23/10/2024 14:33:24

In [10]:
# run all 99 queries in sequence, and multiple iterations if chosen
# save query result table output
# save query execution run time (for all iterations)

q_errors = 0
exec_details = []
# choose number of iterations to run
n_iterations = 3

for i in range(1, n_iterations + 1):
    
    clear_output(wait = True)
    print(f'Iteration {i}\n')
    q_index = 0
    exec_details = []
    iteration_start = datetime.now()
    for sql_script in files_abs_path:

        exec_start = datetime.now()
        try:
            cur.execute(
                open(sql_script, "r").read()
            )
        except Exception as e:
            q_errors += 1
            outcome = "Error"
        else:
            outcome = "Success"

        exec_end = datetime.now()
        exec_run_time = "{:.2f}".format((exec_end - exec_start).total_seconds())
        query_num = query_name_list[q_index]
        print(f'{query_num}: Success, Execution Time: {exec_run_time}s')
        exec_details.append(exec_run_time)
        
        # load table output to csv file (on first iteration only)
        if i == 1:
            df = pd.DataFrame(cur.fetchall(), columns = [desc[0] for desc in cur.description])
            df.to_csv(f'performance_test/{sf}/{query_num}.csv', index = False)
        else:
            pass
        
        q_index += 1
        
    iteration_end = datetime.now()    
    iteration_run_time = "{:.2f}".format(((iteration_end - iteration_start).total_seconds()) / 3600)
    print(f'\n{sf.upper()}, Iteration {i}, Total run time for the 99 queries: {iteration_run_time}hr')
    
    # append iteration execution details to dataframe
    exec_details_df[f'exec_time_iter_{i}'] = np.array(exec_details)

Iteration 3

Q01: Success, Execution Time: 0.28s
Q02: Success, Execution Time: 0.91s
Q03: Success, Execution Time: 0.03s
Q04: Success, Execution Time: 3279.80s
Q05: Success, Execution Time: 2.61s
Q06: Success, Execution Time: 0.43s
Q07: Success, Execution Time: 3.91s
Q08: Success, Execution Time: 0.17s
Q09: Success, Execution Time: 4.62s
Q10: Success, Execution Time: 8.58s
Q11: Success, Execution Time: 39.40s
Q12: Success, Execution Time: 0.14s
Q13: Success, Execution Time: 1.15s
Q14: Success, Execution Time: 202.82s
Q15: Success, Execution Time: 0.54s
Q16: Success, Execution Time: 9.33s
Q17: Success, Execution Time: 2.95s
Q18: Success, Execution Time: 0.57s
Q19: Success, Execution Time: 0.26s
Q20: Success, Execution Time: 0.30s
Q21: Success, Execution Time: 0.73s
Q22: Success, Execution Time: 43.28s
Q23: Success, Execution Time: 43.73s
Q24: Success, Execution Time: 0.15s
Q25: Success, Execution Time: 1.99s
Q26: Success, Execution Time: 2.20s
Q27: Success, Execution Time: 2.98s
Q28: Success, Execution Time: 3.98s
Q29: Success, Execution Time: 1.10s
Q30: Success, Execution Time: 254.35s
Q31: Success, Execution Time: 28.20s
Q32: Success, Execution Time: 0.16s
Q33: Success, Execution Time: 0.60s
Q34: Success, Execution Time: 0.54s
Q35: Success, Execution Time: 2.97s
Q36: Success, Execution Time: 4.32s
Q37: Success, Execution Time: 0.09s
Q38: Success, Execution Time: 10.46s
Q39: Success, Execution Time: 18.16s
Q40: Success, Execution Time: 0.30s
Q41: Success, Execution Time: 8.97s
Q42: Success, Execution Time: 0.26s
Q43: Success, Execution Time: 3.03s
Q44: Success, Execution Time: 0.46s
Q45: Success, Execution Time: 3.05s
Q46: Success, Execution Time: 1.25s
Q47: Success, Execution Time: 11.99s
Q48: Success, Execution Time: 1.66s
Q49: Success, Execution Time: 0.43s
Q50: Success, Execution Time: 0.17s
Q51: Success, Execution Time: 6.88s
Q52: Success, Execution Time: 0.25s
Q53: Success, Execution Time: 0.55s
Q54: Success, Execution Time: 0.59s
Q55: Success, Execution Time: 0.23s
Q56: Success, Execution Time: 1.34s
Q57: Success, Execution Time: 6.26s
Q58: Success, Execution Time: 0.41s
Q59: Success, Execution Time: 2.45s
Q60: Success, Execution Time: 3.18s
Q61: Success, Execution Time: 0.12s
Q62: Success, Execution Time: 0.64s
Q63: Success, Execution Time: 0.54s
Q64: Success, Execution Time: 1.48s
Q65: Success, Execution Time: 5.30s
Q66: Success, Execution Time: 0.89s
Q67: Success, Execution Time: 15.63s
Q68: Success, Execution Time: 0.50s
Q69: Success, Execution Time: 1.32s
Q70: Success, Execution Time: 3.00s
Q71: Success, Execution Time: 1.44s
Q72: Success, Execution Time: 1.55s
Q73: Success, Execution Time: 0.46s
Q74: Success, Execution Time: 18.77s
Q75: Success, Execution Time: 6.84s
Q76: Success, Execution Time: 16.80s
Q77: Success, Execution Time: 0.69s
Q78: Success, Execution Time: 15.12s
Q79: Success, Execution Time: 1.05s
Q80: Success, Execution Time: 1.10s
Q81: Success, Execution Time: 0.31s
Q82: Success, Execution Time: 0.08s
Q83: Success, Execution Time: 0.36s
Q84: Success, Execution Time: 0.14s
Q85: Success, Execution Time: 0.44s
Q86: Success, Execution Time: 1.11s
Q87: Success, Execution Time: 11.19s
Q88: Success, Execution Time: 5.00s
Q89: Success, Execution Time: 1.07s
Q90: Success, Execution Time: 0.43s
Q91: Success, Execution Time: 0.08s
Q92: Success, Execution Time: 0.08s
Q93: Success, Execution Time: 0.29s
Q94: Success, Execution Time: 1.13s
Q95: Success, Execution Time: 35.14s
Q96: Success, Execution Time: 0.57s
Q97: Success, Execution Time: 2.88s
Q98: Success, Execution Time: 0.54s
Q99: Success, Execution Time: 1.26s

SF_4, Iteration 3, Total run time for the 99 queries: 1.16hr

In [11]:
# check total amount of query errors

print(f"We have a total of {q_errors} queries with error")

We have a total of 0 queries with error

In [12]:
# get the date-time after all 99 queries have run (with iterations if chosen)

run_end_default = datetime.now()
# dd/mm/YY H:M:S
run_end = run_end_default.strftime("%d/%m/%Y %H:%M:%S")
print(f"Overall Run End (with {n_iterations} iterations):", run_end)

Overall Run End (with 3 iterations): 23/10/2024 17:35:41

In [13]:
# get the total run time (in hours) for all 99 queries to complete (with iterations if chosen)

total_run_time = "{:.2f}".format(((run_end_default - run_start_default).total_seconds()) / 3600)
print(f'Total run time for the 99 queries (with {n_iterations} iterations): {total_run_time}hr')

Total run time for the 99 queries (with 3 iterations): 3.04hr

In [14]:
# full details on query execution times (including iterations & average)
# load execution details to csv

exec_details_df['avg_exec_time'] = np.round(exec_details_df.iloc[:, 1:].apply(pd.to_numeric).mean(axis = 1), 2)
exec_details_df.to_csv(f'performance_test/{sf}/exec_time_details_{sf}.csv', index = False)
exec_details_df

   query exec_time_iter_1 exec_time_iter_2 exec_time_iter_3  avg_exec_time
0    Q01             1.25             0.28             0.28           0.60
1    Q02             1.03             0.92             0.91           0.95
2    Q03             0.12             0.03             0.03           0.06
3    Q04          2835.68          2867.35          3279.80        2994.28
4    Q05             1.50             1.39             2.61           1.83
..   ...              ...              ...              ...            ...
94   Q95            18.81            18.72            35.14          24.22
95   Q96             0.33             0.34             0.57           0.41
96   Q97             1.57             1.57             2.88           2.01
97   Q98             0.27             0.28             0.54           0.36
98   Q99             0.71             0.71             1.26           0.89

[99 rows x 5 columns]

In [15]:
# close connection to db

cur.close()

#### End of script.